{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="index.html">Bracket</a>
          <a class="breadcrumb-item" href="#">Forms</a>
          <span class="breadcrumb-item active">Form Layouts</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagetitle">
        <i class="icon ion-ios-gear-outline"></i>
        <div>
          <h4>Form Layouts</h4>
          <p class="mg-b-0">Forms are used to collect user information with different element types of input, select, checkboxes, radios and more.</p>
        </div>
      </div><!-- d-flex -->

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <div class="row mg-t-80">
            <div class="col-xl-6">
              <div class="form-layout form-layout-4">
                <h6 class="br-section-label">Left Label Alignment</h6>
                <p class="br-section-text">A basic form where labels are aligned in left.</p>
                  <form action="" method="POST" enctype="multipart/form-data" class="form-layout-footer mg-t-30">
                      {% csrf_token %}
                        <div class="row mg-t-20">
                          <table border="0">
                            {{form}}
                          </table>
                        <div class="form-layout-footer mg-t-30">
                          <button class="btn btn-info">Submit Form</button>
                          <button class="btn btn-secondary">Cancel</button>
                        </div><!-- form-layout-footer -->
                  </form>
              </div><!-- form-layout -->
            </div><!-- col-6 -->
          </div><!-- row -->
        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
    </div>
{% endblock content %}