{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->

<div class = "container demo-page">
    <br>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Leave Type</button>
    <div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="br-pagebody">
      <div class="br-section-wrapper">
        <br>
        <br>
        <div class="table-wrapper">
              <table id="datatable2" class="table display responsive nowrap" style="width:50%">
                  <thead>
                        <tr>
                          <th class="wd-25p">Status</th>
                          <th class="wd-25p">Action</th>
                        </tr>
                      </thead>

                  <tbody>
                      {% for i in data %}
                          <tr>
                              <td>{{i.leave_type_name}}</td>
                              <td><a href="{% url 'manage'%}">Delete</a></td>
                          </tr>
                      {% endfor %}
                      </tbody>
              </table>
            <p class="br-section-label-sm">.</p>
        </div><!-- table-wrapper -->
      </div>
    </div>
  </div>
</div>
</div>


<!--.....................modal table........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add Leave Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30" id="form_insert_employee" data-branches-url="{% url 'ajax_load_branches' %}" novalidate>
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                          <button class="btn btn-secondary">Cancel</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>

{% endblock content %}
