{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
            {% if user.is_superuser %}
            <br>
            {% elif user.user_type == "HR" %}
                <br>

                <div align="right">
                    <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Tap To Update Attendance</button>
                         {% for i in data %}
                        {% endfor %}
                    <br>
                    </form>
            <div class="btn" >Total : {{All}}</div>
            <div class="btn" >Pending : {{Pending}}</div>
            <div class="btn">Approved : {{Approved}}</div>
            <div class="btn">Rejected : {{Rejected}}</div>
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example<span class="caret"></span></button>
              <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="{% url 'leave_type'%}">All</a></li>
              <li class="dropdown-item"><a href="{% url 'leave_status_pending'%}">Pending</a></li>
              <li class="dropdown-item"><a href="{% url 'leave_status_approved'%}">Approved</a></li>
              <li class="dropdown-item"><a href="{% url 'leave_status_rejected'%}">Rejected</a></li>
            </ul>

          </div>
                <br>

            {% endif %}

          <div class="table-wrapper">
              <table id="datatable2" class="table display responsive nowrap">
                  <thead>
                        <tr>
                          <th class="wd-25p">Status</th>
                          <th class="wd-25p">Created At</th>
                          <th class="wd-15p">Type</th>
                          <th class="wd-25p">User</th>
                          <th class="wd-20p">From</th>
                          <th class="wd-15p">To</th>
                          <th class="wd-25p">Reason</th>
                          <th class="wd-25p">Doc.</th>
                          <th class="wd-25p">Comment</th>
                          <th class="wd-25p">Action</th>
                          <th class="wd-25p">View</th>
                          <th class="wd-25p">Print</th>
                        </tr>
                      </thead>
                {% if user.user_type == "HR"%}
                  <tbody>
                      {% for i in data %}
                        <tr>
                                  <td>
                                      <a href="{% url 'update_leave_HR_Staus' i.id %}">
                                          {{i.HR_leave_status}}
                                      </a>
                                  </td>
                                  <td>{{i.created_at}}</td>
                                  <td>{{i.leave_type}}</td>
                                  <td>{{i.user_get}}</td>
                                  <td>{{i.leave_starting_date}}</td>
                                  <td>{{i.leave_ending_date}}</td>
                                  <td>{{i.reason}}</td>
                                  {% if i.leave_document %}
                                    <td><a href="{{i.leave_document.url}}">{{i.leave_document.url}}</a></td>
                                  {% else %}
                                    <td>{{i.leave_document}}</td>
                                  {% endif %}
                                  <td>{{i.additional_comment}}</td>
                                  <td><a href="{% url 'manage'%}"><button>Delete</button></a></td>
                                  <td><a href="{% url 'show_employee_leave_status' i.id%}">Tap To View</a></td>
                                  <td><a href="{% url 'print_leave' i.id%}">Print</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                {% elif user.is_superuser %}
                  <tbody>
                      {% for i in data %}
                              {% if i.leave_status == "Pending"%}
                              {% if i.HR_leave_status == "Approved"%}
                          <tr>
                              <td><a href="{% url 'update_leave_admin_dash' i.id %}">{{i.leave_status}}</a></td>
                              <td>{{i.created_at}}</td>
                              <td>{{i.leave_type}}</td>
                              <td>{{i.user_get}}</td>
                              <td>{{i.leave_starting_date}}</td>
                              <td>{{i.leave_ending_date}}</td>
                              <td>{{i.reason}}</td>
                              <td></td>
                              <td>{{i.additional_comment}}</td>
                              <td></td>
                              <td><a href="{% url 'show_employee_leave_status' i.id%}">Tap To View</a> </td>
                              <td></td>
                          </tr>
                              {% endif %}
                              {% endif %}
                      {% endfor %}
                      </tbody>
                  <tbody>
                {% endif %}
                  </tbody>
              </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>



{% endblock content %}
