{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br><h4>Search Your Leave Between Dates</h4>
          <br>
          <div class="table-wrapper">
              <form method="post">
                {% csrf_token %}
                  <div class="form-inline">
                  <b>From:</b>&nbsp; <input style="width:20%" type="date" name="fromdate"/>&nbsp;&nbsp;
                  <b> To:</b>&nbsp;<input style="width:20%" type="date" name="todate"/>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-secondary" style="width:20%">Search</button>
                  </div><br>
                    <table id="tbl_id" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-25p">Status</th>
                              <th class="wd-15p">Type</th>
                              <th class="wd-25p">User</th>
                              <th class="wd-20p">From</th>
                              <th class="wd-15p">To</th>
                              <th class="wd-25p">Reason</th>
                              <th class="wd-25p">Doc.</th>
                              <th class="wd-25p">Comment</th>
                              <th class="wd-25p">Action</th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for i in data %}
                            <tr>
                              <td>{{i.leave_status}}</td>
                              <td>{{i.leave_type}}</td>
                              <td>{{i.user_get}}</td>
                              <td>{{i.leave_starting_date}}</td>
                              <td>{{i.leave_ending_date}}</td>
                              <td>{{i.reason}}</td>
                              {% if i.leave_document %}
                                <td><a href="{{i.leave_document.url}}">{{i.leave_document.url}}</a></td>
                              {% else %}
                                <td>{{i.leave_document}}</td>
                              {% endif %}
                              <td>{{i.additional_comment}}</td>
                              <td><a href="{% url 'manage'%}"><button>Delete</button></a></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                    </table>
              </form>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>` -
{% endblock content %}
