{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div align="right">
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">&nbsp; Generate &nbsp;</button>
          </div>
          <br>
          <div class="table-wrapper">
              <table id="datatable2" class="table display responsive nowrap">
                  <thead>
                        <tr>
                          <th class="wd-15p">Status</th>
                          <th class="wd-20p">Created At</th>
                          <th class="wd-20p">User</th>
                          <th class="wd-20p">From</th>
                          <th class="wd-15p">To</th>
                        </tr>
                      </thead>
                    {% if user.user_type == "Department_Head"%}
                    {% for j in b %}
                    {% for i in data %}
                    {% if user.email == j.Email %}
                        {% if i.select_department == j.Department %}
                                <tr>
                                  <td>{{i.get_user}}</td>
                                  <td>{{i.your_work}}</td>
                                  <td>{{i.created_at}}</td>
                                  <td>{{i.select_department}}</td>
                                  <td>{{i.generate_filed}}</td>
                                </tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
              </table>
          </div>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>

<!--.....................modal table........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content static">
      <div class="modal-header">
        <h5>Generate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30">
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>
{% endblock content %}
