{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br><h4>Search Your Attendance Between Dates</h4>
          <br>
          <div class="table-wrapper">
              <form method="post">
                {% csrf_token %}
                  <div class="form-inline">
                  <b>From:</b>&nbsp; <input style="width:20%" type="month" name="fromdate"/>&nbsp;&nbsp;
                  <b> To:</b>&nbsp;<input style="width:20%" type="month" name="todate"/>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-secondary" style="width:20%">Search</button>
                  </div><br>
                    <table id="tbl_id" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-10p">date</th>
                              <th class="wd-15p">employee</th>
                              <th class="wd-5p">status</th>
                              <th class="wd-25p">reason</th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for i in data %}
                            {% if i.employee == emp_emp.Name%}
                            <tr>
                              <td>{{i.date}}</td>
                              <td>{{i.employee}}</td>
                              <td>{{i.status}}</td>
                              <td>{{i.reason}}</td>
                            </tr>
                            {% endif %}
                          {% endfor %}

                          </tbody>
                    </table>
                    <table  style="width:30%" class="table display responsive nowrap table-striped">
                      <tbody>
                                <tr>
                                    <td >Present</td>
                                    <td id="present"></td>
                                </tr>
                                <tr>
                                    <td>Absent</td>
                                    <td id="absent"></td>
                                </tr>
                                <tr>
                                    <td>Half</td>
                                    <td id="half"></td>
                                </tr>
                                <tr>
                                    <td>Total Absent</td>
                                    <td id="total_absent"></td>
                                </tr>
                                <tr>
                                    <td>Total working_days</td>
                                    <td id="total_working_days"></td>
                                </tr>


                      </tbody>
                  </table>

              </form>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>` -
{% endblock content %}
