{% extends 'base.html'%}
{% load static %}
{% block content %}
{% load mathfilters %}
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="">Cards &amp; Widgets</a>
      <span class="breadcrumb-item active">Dashboard</span>
    </nav>
  </div><!-- br-pageheader -->
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br><h4>Search Your Attendance Between Dates</h4>
          <br>
          <div class="table-wrapper">
              <form method="post">
                {% csrf_token %}
                  <div class="form-inline">
                  <b>From:</b>&nbsp; <input style="width:20%" type="month" name="fromdate"/>&nbsp;&nbsp;
                  <b> To:</b>&nbsp;<input style="width:20%" type="month" name="todate"/>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-secondary" style="width:20%">Search</button>
                  </div><br>
                    <table id="tbl_id" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-10p">Employee</th>
                              <th class="wd-10p">Total Days</th>
                              <th class="wd-10p">Absent-Days</th>
                              <th class="wd-5p">Half-Days</th>
                              <th class="wd-5p">Total Absent</th>
                              <th class="wd-5p">Present-Days</th>
                              <th class="wd-5p">Present-%</th>
                              <th class="wd-5p">Absent-%</th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for i in data %}
                            <tr>
                              <td>{{i.employee}}</td>
                              <td>{{ i.A|add:i.P|add:i.H }}</td>
                              <td>{{i.A}}</td>
                              <td>{{i.H}}</td>

                              <td>{{i.totalabsent}}</td>
                              <td>{{i.P}}</td>
                              <td>{{i.total_present_percentage}}%</td>
                              <td>{{i.total_absent_percentage}}%</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                    </table>
              </form>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
{% endblock content %}
