{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="">Cards &amp; Widgets</a>
      <span class="breadcrumb-item active">Dashboard</span>
    </nav>
  </div><!-- br-pageheader -->
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
              <form method="post">
                {% csrf_token %}
                  <div class="form-inline">
                  <b>From:</b>&nbsp; <input style="width:20%" type="date" name="fromdate"/>&nbsp;&nbsp;
                  <b> To:</b>&nbsp;<input style="width:20%" type="date" name="todate"/>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-secondary" style="width:20%">Delete &nbsp;Attendance</button>
                  </div><br>
                   {% for i in delete_atdn %}
                  {% endfor %}
              </form>
          </div><!-- table-wrapper -->
        </div>
      </div>
<div class = "container demo-page">
    <br>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="br-pagebody">
      <div class="br-section-wrapper">
        <br>
        <br>
        <div class="table-wrapper">
          <table id="datatable1" class="table display responsive nowrap">
            <thead>
            <tr>
              <th class="wd-15p">name</th>
              <th class="wd-20p">Department</th>
              <th class="wd-15p">Designation</th>
              <th class="wd-25p">E-mail</th>
            </tr>
            </thead>
            <tbody>
            {% for i in name %}
            <tr>
              <td><a href="{% url 'atdn_name_filter' i.id %}">{{i.Name}}</a></td>
              <td>{{i.Department}}</td>
              <td>{{i.Designation}}</td>
              <td>{{i.Email}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          <p class="br-section-label-sm">.</p>
        </div><!-- table-wrapper -->
      </div>
    </div>
  </div>
</div>
</div>


{% endblock content %}
