{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br> <h4>BANK DETAILS</h4>
          <br>
          <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-10p">id</th>
                  <th class="wd-15p">name</th>
                  <th class="wd-15p">email</th>
                  <th class="wd-15p">Bank_name</th>
                  <th class="wd-15p">accnt_no</th>
                  <th class="wd-05p">Bank Details</th>
                </tr>
              </thead>
              <tbody>
              {% for i in form %}
                <tr>
                  <td>{{i.Emp_ID}}</td>
                  <td><a href="{% url 'show_particular_employee' i.id %}">{{i.Name}}</a></td>
                  <td>{{i.Email}}</td>
                  <td>{{i.Bank_name}}</td>
                  <td>{{i.Bank_accnt_no}}</td>
                  <td><a href="{% url 'add_bank_details' i.id %}">Add Bank Detail</a> </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<!--<div class="table-wrapper">-->
<!--            <table id="datatable1" class="table display responsive nowrap">-->
<!--              <thead>-->
<!--                <tr>-->
<!--                  <th class="wd-12p">id</th>-->
<!--                  <th class="wd-15p">name</th>-->
<!--                  <th class="wd-15p">Bank_name</th>-->
<!--                  <th class="wd-15p">accnt_no</th>-->
<!--                  <th class="wd-05p">Bank Details</th>-->
<!--                </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              {% for i in form %}-->
<!--                <tr>-->
<!--                  <td>{{i.id}}</td>-->
<!--                  <td><a href="{% url 'show_particular_employee' i.id %}">{{i.Name}}</a></td>-->
<!--                  <td>{{i.Bank_name}}</td>-->
<!--                  <td>{{i.Bank_accnt_no}}</td>-->
<!--                  <td><a href="{% url 'add_bank_details' i.id %}">Add Bank Detail</a> </td>-->

<!--                </tr>-->
<!--              {% endfor %}-->
<!--              </tbody>-->
<!--            </table>-->
<!--            <p class="br-section-label-sm">.</p>-->
<!--          </div>-->

{% endblock content %}
