{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket Plus">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracketplus">
    <meta property="og:title" content="Bracket Plus">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Lathiya Brothers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!--    <link rel="stylesheet" href="{%static "css/main.css"%}">-->

    <link rel="stylesheet" href="{%static "css/bootstrap.min.css"%}">
    <!-- Our Website CSS Styles -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{%static "css/responsive.css"%}">

    <!-- vendor css -->
    <link href="{%static "lib/@fortawesome/fontawesome-free/css/all.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/ionicons/css/ionicons.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/rickshaw/rickshaw.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/select2/css/select2.min.css"%}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{%static "css/bracket.css"%}">
    <link rel="stylesheet" href="{%static "css/bracket.simple-white.css"%}">
    <link href="{%static "lib/datatables.net-dt/css/jquery.dataTables.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css"%}" rel="stylesheet">
    <link href="{%static "css/button_dataTable_min.css"%}">

  </head>
  <body>
      {% if user.is_authenticated %}
          <div class="br-logo"><a href=""><span>[</span>Lathiya <i>Brothers</i><span>]</span></a></div>
          <div class="br-sideleft sideleft-scrollbar">
            <label class="sidebar-label pd-x-10 mg-t-20 op-3"></label>
            <ul class="br-sideleft-menu">
              <li class="br-menu-item">
                <a href="{% url 'index'%}" class="br-menu-link active">
                  <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
                  <span class="menu-item-label">Dashboard</span>
                </a><!-- br-menu-link -->
              </li><!-- br-menu-item -->
                {% if user.is_superuser %}
                  <label class="sidebar-label pd-x-10 mg-t-20 op-3">Employees</label>
                    <li class="br-menu-item">
                      <a href="#" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                        <span class="menu-item-label">Organisation</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'employees_dash'%}" class="sub-link">All Employeess</a></li>
                        <li class="sub-item"><a href="{% url 'export_employee'%}" class="sub-link">Export Data</a></li>
                        <li class="sub-item"><a href="{% url 'show_bank_details'%}" class="sub-link">Bank Details</a></li>
                        <li class="sub-item"><a href="{% url 'department_dash'%}" class="sub-link">Departments</a></li>
                        <li class="sub-item"><a href="{% url 'designation_dash'%}" class="sub-link">Designations</a></li>
                        <li class="sub-item"><a href="{% url 'trainer_dash'%}" class="sub-link">Training</a></li>

                      </ul>
                    </li>
                    <li class="br-menu-item">
                      <a href="#" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                        <span class="menu-item-label">Attendance</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'attendance_showresults'%}" class="sub-link">Search</a></li>
                        <li class="sub-item"><a href="{% url 'attendance_by_name'%}" class="sub-link">Search by Name</a></li>
                      </ul>
                    </li>
                    <li class="br-menu-item">
                      <a href="{% url 'register_detail'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
                        <span class="menu-item-label">Registration</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                    <li class="br-menu-item">
                      <a href="" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Leave</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'leave_type'%}" class="sub-link">Manage Leave</a></li>
                        <li class="sub-item"><a href="{% url 'showresults'%}" class="sub-link">Search Leave</a></li>
                      </ul>
                    </li><!-- br-menu-item -->
                  <label class="sidebar-label pd-x-10 mg-t-20 op-3">HR</label>
                    <li class="br-menu-item">
                      <a href="#" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                        <span class="menu-item-label">Accounts</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'techhub_invoice'%}" class="sub-link">TechHub Invoices</a></li>
                        <li class="sub-item"><a href="{% url 'lblubricants_invoice'%}" class="sub-link">lblubricants Invoices</a></li>
                      </ul>
                    </li><!-- br-menu-item -->
                    <li class="br-menu-item">
                      <a href="{% url 'salary_increment'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
                        <span class="menu-item-label">PayRoll</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                  <label class="sidebar-label pd-x-10 mg-t-20 op-3">Performance</label>
                      <li class="br-menu-item">
                        <a href="{% url 'notice_period'%}" class="br-menu-link">
                          <i class="menu-item-icon icon ion-ios-color-filter-outline tx-24"></i>
                          <span class="menu-item-label">Notice Period</span>
                        </a><!-- br-menu-link -->
                      </li><!-- br-menu-item -->
                      <li class="br-menu-item">
                        <a href="{% url 'resignation'%}" class="br-menu-link">
                          <i class="menu-item-icon icon ion-ios-color-filter-outline tx-24"></i>
                          <span class="menu-item-label">resignation</span>
                        </a><!-- br-menu-link -->
                      </li><!-- br-menu-item -->
            </ul><!-- br-sideleft-menu -->
                {% elif user.user_type == "employee" %}
                    <label class="sidebar-label pd-x-10 mg-t-20 op-3">Employees</label>
                    {% if user.dept.department_name == "Marketing" %}
                         <li class="br-menu-item">
                      <a href="#" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                        <span class="menu-item-label">Work Update</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                          <li class="sub-item"><a href="{% url 'add_daily_work_reporting_for_marketing'%}" class="sub-link">Update Your Work</a></li>
                          <li class="sub-item"><a href="{% url 'daily_report_for_emp'%}" class="sub-link">Daily Report</a></li>
                      </ul>
                        </li>
                    {% elif user.dept.department_name == "Tech-Hub"%}
                        <li class="br-menu-item">
                          <a href="{% url 'add_daily_work_reporting'%}" class="br-menu-link">
                            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                            <span class="menu-item-label">Work Update</span>
                          </a><!-- br-menu-link -->
                        </li>
                    {% endif %}
                        <li class="br-menu-item">
                          <a href="{% url 'leave_dash'%}" class="br-menu-link">
                            <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
                            <span class="menu-item-label">Leave</span>
                          </a><!-- br-menu-link -->
                        </li>
                        <li class="br-menu-item">
                          <a href="{% url 'employee_attendance'%}" class="br-menu-link">
                            <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
                            <span class="menu-item-label">attendance</span>
                          </a><!-- br-menu-link -->
                        </li><!-- br-menu-item -->
                {% elif user.user_type == "HR" %}
                   <label class="sidebar-label pd-x-10 mg-t-20 op-3">Employees</label>
                    <li class="br-menu-item">
                      <a href="#" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                        <span class="menu-item-label">Organisation</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'employees_dash'%}" class="sub-link">All Employeess</a></li>
                        <li class="sub-item"><a href="{% url 'export_employee'%}" class="sub-link">Export Data</a></li>
                        <li class="sub-item"><a href="{% url 'show_bank_details'%}" class="sub-link">Bank Details</a></li>
                        <li class="sub-item"><a href="{% url 'department_dash'%}" class="sub-link">Departments</a></li>
                        <li class="sub-item"><a href="{% url 'designation_dash'%}" class="sub-link">Designations</a></li>
                        <li class="sub-item"><a href="{% url 'trainer_dash'%}" class="sub-link">Training</a></li>

                      </ul>
                    </li>
                    <li class="br-menu-item">
                      <a href="#" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                        <span class="menu-item-label">Attendance</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'profile_upload'%}" class="sub-link">import Attendance</a></li>
                        <li class="sub-item"><a href="{% url 'attendance_showresults'%}" class="sub-link">Search</a></li>
                        <li class="sub-item"><a href="{% url 'attendance_by_name'%}" class="sub-link">Search Name/Delete Atdn</a></li>
                        <li class="sub-item"><a href="{% url 'update_attendance'%}" class="sub-link">Update Attendance</a></li>
                      </ul>
                    </li>
                    <li class="br-menu-item">
                      <a href="{% url 'register_detail'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
                        <span class="menu-item-label">Registration</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                    <li class="br-menu-item">
                      <a href="{% url 'delete-work'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
                        <span class="menu-item-label">Multiple Delete</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->

                    <li class="br-menu-item">
                      <a href="" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Work Update</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'daily_work_reporting_to_hr'%}" class="sub-link">Work Update/Tech-HUb</a></li>
                        <li class="sub-item"><a href="{% url 'daily_work_reporting_to_hr_for_marketing'%}" class="sub-link">Work Update/Marketing</a></li>
                        <li class="sub-item"><a href="{% url 'manage_dates'%}" class="sub-link">Manage Date</a></li>
                      </ul>

                    </li>
                    <li class="br-menu-item">
                      <a href="" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Leave</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'leave_type'%}" class="sub-link">Manage Leave/Update Atdn.</a></li>
                        <li class="sub-item"><a href="{% url 'showresults'%}" class="sub-link">Search Leave</a></li>
                        <li class="sub-item"><a href="{% url 'add_leave_type'%}" class="sub-link">Leave Type</a></li>
                      </ul>
                    </li><!-- br-menu-item -->
                    <li class="br-menu-item">
                      <a href="{% url 'add_projects'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Projects</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                  <label class="sidebar-label pd-x-10 mg-t-20 op-3">HR</label>
                    <li class="br-menu-item">
                      <a href="#" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                        <span class="menu-item-label">Accounts</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'techhub_invoice'%}" class="sub-link">TechHub Invoices</a></li>
                        <li class="sub-item"><a href="{% url 'lblubricants_invoice'%}" class="sub-link">lblubricants Invoices</a></li>
                      </ul>
                    </li><!-- br-menu-item -->
                    <li class="br-menu-item">
                      <a href="{% url 'salary_increment'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
                        <span class="menu-item-label">PayRoll</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                  <label class="sidebar-label pd-x-10 mg-t-20 op-3">Performance</label>
                      <li class="br-menu-item">
                        <a href="#" class="br-menu-link with-sub">
                          <i class="menu-item-icon icon ion-ios-color-filter-outline tx-24"></i>
                          <span class="menu-item-label">Performance</span>
                        </a><!-- br-menu-link -->
                        <ul class="br-menu-sub">
                          <li class="sub-item"><a href="skin-select2.html" class="sub-link">Performance Indicator</a></li>
                          <li class="sub-item"><a href="skin-rangeslider.html" class="sub-link">Performance Review</a></li>
                        </ul>
                      </li><!-- br-menu-item -->
                      <li class="br-menu-item">
                        <a href="{% url 'notice_period'%}" class="br-menu-link">
                          <i class="menu-item-icon icon ion-ios-color-filter-outline tx-24"></i>
                          <span class="menu-item-label">Notice Period</span>
                        </a><!-- br-menu-link -->
                      </li><!-- br-menu-item -->
                      <li class="br-menu-item">
                        <a href="{% url 'resignation'%}" class="br-menu-link">
                          <i class="menu-item-icon icon ion-ios-color-filter-outline tx-24"></i>
                          <span class="menu-item-label">resignation</span>
                        </a><!-- br-menu-link -->
                      </li><!-- br-menu-item -->
                {% elif user.user_type == "Department_Head" %}
                  <label class="sidebar-label pd-x-10 mg-t-20 op-3">Employees</label>
                    <li class="br-menu-item">
                      <a href="" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Leave</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'department_head_leave_view'%}" class="sub-link">Manage Leave</a></li>
                      </ul>
                    </li><!-- br-menu-item -->
                    <li class="br-menu-item">
                      <a href="{% url 'employee_attendance'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Attendance</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                 {% if user.dept.department_name == "Tech-Hub"%}
                    <li class="br-menu-item">
                      <a href="{% url 'daily_work_reporting_to_head'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Daily Work</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                 {% elif user.dept.department_name == "Marketing"%}
                    <li class="br-menu-item">
                      <a href="" class="br-menu-link with-sub">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Daily Work</span>
                      </a><!-- br-menu-link -->
                      <ul class="br-menu-sub">
                        <li class="sub-item"><a href="{% url 'daily_work_reporting_to_head'%}" class="sub-link">Daily Report</a></li>
                        <li class="sub-item"><a href="{% url 'monthly_report_for_head'%}" class="sub-link">Monthly Report</a></li>
                      </ul>
                    </li><!-- br-menu-item -->
                 {% endif %}
                    {% if user.dept.department_name == "Tech-Hub"%}
                        <li class="br-menu-item">
                      <a href="{% url 'add_projects'%}" class="br-menu-link">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Projects</span>
                      </a><!-- br-menu-link -->
                    </li><!-- br-menu-item -->
                    {% endif %}
                {% else %}
                  <div> Welcome User </div>
                {% endif %}
<!--..............................................................................................-->

          <label class="sidebar-label pd-x-10 mg-t-25 mg-b-20 tx-info">Information Summary</label>
            <div class="info-list">
              <div class="info-list-item">
                <div>
                  <p class="info-list-label">Memory Usage</p>
                  <h5 class="info-list-amount">32.3%</h5>
                </div>
                <span class="peity-bar" data-peity='{ "fill": ["#336490"], "height": 35, "width": 60 }'>8,6,5,9,8,4,9,3,5,9</span>
              </div><!-- info-list-item -->

              <div class="info-list-item">
                <div>
                  <p class="info-list-label">CPU Usage</p>
                  <h5 class="info-list-amount">140.05</h5>
                </div>
                <span class="peity-bar" data-peity='{ "fill": ["#1C7973"], "height": 35, "width": 60 }'>4,3,5,7,12,10,4,5,11,7</span>
              </div><!-- info-list-item -->

              <div class="info-list-item">
                <div>
                  <p class="info-list-label">Disk Usage</p>
                  <h5 class="info-list-amount">82.02%</h5>
                </div>
                <span class="peity-bar" data-peity='{ "fill": ["#8E4246"], "height": 35, "width": 60 }'>1,2,1,3,2,10,4,12,7</span>
              </div><!-- info-list-item -->

              <div class="info-list-item">
                <div>
                  <p class="info-list-label">Daily Traffic</p>
                  <h5 class="info-list-amount">62,201</h5>
                </div>
                <span class="peity-bar" data-peity='{ "fill": ["#9C7846"], "height": 35, "width": 60 }'>3,12,7,9,2,3,4,5,2</span>
              </div><!-- info-list-item -->
            </div><!-- info-list -->
            <br>
          </div><!-- br-sideleft -->
          <!-- ########## END: LEFT PANEL ########## -->
          <!-- ########## START: HEAD PANEL ########## -->
          <div class="br-header">
            <div class="br-header-left">
              <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
              <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
              <!-- input-group -->
            </div><!-- br-header-left -->
            <div class="br-header-right">
              <nav class="nav">
                <div class="dropdown">
                  <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
                    <i class="icon ion-ios-bell-outline tx-24"></i>
                    <!-- start: if statement -->
                    <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
                    <!-- end: if statement -->
                  </a>
                  <div class="dropdown-menu dropdown-menu-header">
                    <div class="dropdown-menu-label">
                      <label>Notifications</label>
                      <a href="">Mark All as Read</a>
                    </div><!-- d-flex -->
                    <div class="media-list">
                      <!-- loop starts here -->
                      <a href="" class="media-list-link read">
                        <div class="media">
                          <img src="https://via.placeholder.com/500" alt="">
                          <div class="media-body">
                            <p class="noti-text"><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                            <span>October 03, 2017 8:45am</span>
                          </div>
                        </div><!-- media -->
                      </a>
                      <!-- loop ends here -->
                      <a href="" class="media-list-link read">
                        <div class="media">
                          <img src="https://via.placeholder.com/500" alt="">
                          <div class="media-body">
                            <p class="noti-text"><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                            <span>October 02, 2017 12:44am</span>
                          </div>
                        </div><!-- media -->
                      </a>
                      <a href="" class="media-list-link read">
                        <div class="media">
                          <img src="https://via.placeholder.com/500" alt="">
                          <div class="media-body">
                            <p class="noti-text">20+ new items added are for sale in your <strong>Sale Group</strong></p>
                            <span>October 01, 2017 10:20pm</span>
                          </div>
                        </div><!-- media -->
                      </a>
                      <a href="" class="media-list-link read">
                        <div class="media">
                          <img src="https://via.placeholder.com/500" alt="">
                          <div class="media-body">
                            <p class="noti-text"><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>
                            <span>October 01, 2017 6:08pm</span>
                          </div>
                        </div><!-- media -->
                      </a>
                      <div class="dropdown-footer">
                        <a href=""><i class="fa fa-angle-down"></i> Show All Notifications</a>
                      </div>
                    </div><!-- media-list -->
                  </div><!-- dropdown-menu -->
                </div><!-- dropdown -->

                <div class="dropdown">
                  <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                    <span class="logged-name hidden-md-down">{{user.username}}</span>
                    <img src="https://via.placeholder.com/500" class="wd-32 rounded-circle" alt="">
                    <span class="square-10 bg-success"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-header wd-250">
                    <div class="tx-center">
                      <a href=""><img src="https://via.placeholder.com/500" class="wd-80 rounded-circle" alt=""></a>
                      <h6 class="logged-fullname">{{user.first_name}} {{user.last_name}}</h6>
                      <p>{{user.email}}</p>
                    </div>
                    <hr>
                    <ul class="list-unstyled user-profile-nav">
                      <li><a href="{% url 'user_type_employee_detail'%}"><i class="icon ion-ios-person"></i> Profile</a></li>
                      <li><a href="{% url 'password_change'%}"><i class="icon ion-ios-star"></i> change password</a></li>
                      <li><a href="{% url 'logout'%}"><i class="icon ion-power"></i> Sign Out</a></li>
                       {% if user.is_superuser %}
                        <li><a href="{% url 'password_reset'%}"><i class="icon ion-ios-star"></i> Forgot Password</a></li>
                      {% endif %}
                      {% if user.user_type == "HR"%}
                        <li><a href="{% url 'password_reset'%}"><i class="icon ion-ios-star"></i> Forgot Password</a></li>
                      {% endif %}
                    </ul>
                  </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
              </nav>
            </div><!-- br-header-right -->
          </div><!-- br-header -->
          <!-- ########## END: RIGHT PANEL ########## --->
          <div class="br-mainpanel" style="position: relative;">
              {% block content %}{% endblock content %}
           <footer class="br-footer">
                  <div class="footer-left">
                    <div class="mg-b-2">Copyright &copy; 2017. Lathiya Brothers. All Rights Reserved.</div>
                    <div>Attentively and carefully made by ThemePixels.</div>
                  </div>
                  <div class="footer-right d-flex align-items-center">
                    <span class="tx-uppercase mg-r-10">Share:</span>
                    <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-facebook tx-20"></i></a>
                    <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket%20Plus,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-twitter tx-20"></i></a>
                  </div>
           </footer>
          </div>
          <!-- br-mainpanel -->
          <!-- ########## END: MAIN PANEL ########## -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
          <script src="{%static "lib/jquery/jquery.min.js"%}"></script>
          <script src="{%static "lib/jquery/bootstrap.min.js"%}"></script>
          <script src="{%static "lib/jquery-ui/ui/widgets/datepicker.js"%}"></script>
          <script src="{%static "lib/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
          <script src="{%static "lib/perfect-scrollbar/perfect-scrollbar.min.js"%}"></script>
          <script src="{%static "lib/moment/min/moment.min.js"%}"></script>
          <script src="{%static "lib/peity/jquery.peity.min.js"%}"></script>
          <script src="{%static "lib/rickshaw/vendor/d3.min.js"%}"></script>
          <script src="{%static "lib/rickshaw/vendor/d3.layout.min.js"%}"></script>
          <script src="{%static "lib/rickshaw/rickshaw.min.js"%}"></script>
          <script src="{%static "lib/jquery.flot/jquery.flot.js"%}"></script>
          <script src="{%static "lib/jquery.flot/jquery.flot.resize.js"%}"></script>
          <script src="{%static "lib/flot-spline/js/jquery.flot.spline.min.js"%}"></script>
          <script src="{%static "lib/jquery-sparkline/jquery.sparkline.min.js"%}"></script>
          <script src="{%static "lib/echarts/echarts.min.js"%}"></script>
          <script src="{%static "lib/select2/js/select2.full.min.js"%}"></script>
          <script src="http://maps.google.com/maps/api/js?key=AIzaSyAq8o5-8Y5pudbJMJtDFzb8aHiWJufa5fg"></script>
          <script src="{%static "lib/gmaps/gmaps.min.js"%}"></script>
          <script src="{%static "lib/datatables.net/js/jquery.dataTables.min.js"%}"></script>
          <script src="{%static "lib/datatables.net-dt/js/dataTables.dataTables.min.js"%}"></script>
          <script src="{%static "lib/datatables.net-responsive/js/dataTables.responsive.min.js"%}"></script>
          <script src="{%static "lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"%}"></script>

          <script src="{%static "js/bracket.js"%}"></script>
          <script src="{%static "js/map.shiftworker.js"%}"></script>
          <script src="{%static "js/ResizeSensor.js"%}"></script>
          <script src="{%static "js/dashboard.js"%}"></script>
          <script src="{%static "js/static.js"%}"></script>
          <script src="{%static "js/inputdesign.js"%}"></script>
          <script src="{%static "js/datatables_buttons_min.js"%}"></script>
          <script src="{%static "js/buttons_flash_min.js"%}"></script>
          <script src="{%static "js/jszip_min.js"%}"></script>
          <script src="{%static "js/vfs_fonts.js"%}"></script>
          <script src="{%static "js/buttons_html5_min.js"%}"></script>
      {% else %}
            <style>
              .container {
               height: 200px;
               margin-top:200px;
               position: relative;
               border: 3px solid #718271;
              }
              .vertical-center {
               margin: 0;
               position: absolute;
               top: 50%;
               left: 30%;
               -ms-transform: translateY(-50%);
               transform: translateY(-50%);
              }
            </style>
              <div class="container">
                <div class="vertical-center">
                  <h4 style="font-size:25px">You Need To Login To Access This Link</h4>
                  <p style="text-align:center;font-size:16px"><a href= "{% url 'login'%}" >Tap To Login</a></p>
                </div>
              </div>
      {% endif %}
  </body>
</html>

