{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->

      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->

<div class="br-pagebody">
        <div class="br-section-wrapper"><br>
          <div align="right">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Update Your Work</button>
          </div>
          <br>
          <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-5p">created_at</th>
                  <th class="wd-5p">project name</th>
                  <th class="wd-35p">update_work</th>
                </tr>
              </thead>
              <tbody>
              {% for i in daily_work %}
                <tr>
                  <td>{{i.date}}</td>
                  <td>{{i.project_name}}</td>
                  <td><textarea disabled style="width:100%">{{i.project_work}}</textarea></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<!--.....................modal table........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Update Your Daily Work</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30" id="form_insert_employee" data-branches-url="{% url 'ajax_load_branches' %}" novalidate>
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                          <button class="btn btn-secondary">Cancel</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>


{% endblock content %}
