{% extends 'base.html'%}
{% load static %}
{% block content %}
{% load mathfilters %}
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="">Cards &amp; Widgets</a>
      <span class="breadcrumb-item active">Dashboard</span>
    </nav>
  </div><!-- br-pageheader -->
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br><h4>Search Your Attendance Between Dates</h4>
          <br>
          <div class="table-wrapper">
              <form method="post">
                {% csrf_token %}
                  <div class="form-inline">
                  <b>For:</b>&nbsp; <input style="width:20%" type="date" name="fromdate"/>&nbsp;&nbsp;
                  <button class="btn btn-secondary" style="width:20%">Search</button>
                  </div><br>
                    <table id="datatable1" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-5p">Date</th>
                              <th class="wd-5p">Time</th>
                              <th class="wd-10p">interested</th>
                              <th class="wd-5p">not-interested</th>
                              <th class="wd-5p">Ringing/off/NR</th>
                              <th class="wd-5p">No. of Calls</th>
                              <th class="wd-5p">New-Boxes</th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for i in data %}
                          {% if i.user_mkt.username == user.username %}
                            <tr>
                              <td>{{i.date_mkt}}</td>
                              <td>{{i.time}}</td>
                              <td>{{i.interested}}</td>
                              <td>{{i.not_interested}}</td>
                              <td>{{i.ringing_SwitchOff_NR}}</td>
                              <td>{{i.ringing_SwitchOff_NR|add:i.interested|add:i.not_interested}}</td>
                              <td>{{i.new_boxes_order}}</td>
                            </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                    </table><br>
                    <table  class="table display responsive nowrap" style="width:50%">
                        <thead>
                            <tr>
                              <th class="wd-5p">Date</th>
                              <th class="wd-5p">Name</th>
                              <th class="wd-5p">Total Calls</th>
                              <th class="wd-5p">New-Boxes</th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for i in result_for_total %}
                          {% if i.user_mkt.username == user.username %}
                            <tr>
                              <td>{{i.date_mkt}}</td>
                              <td>{{i.user_mkt}}</td>
                              <td>{{i.totalcall}}</td>
                              <td>{{i.box_order}}</td>
                            </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                    </table>
              </form>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
{% endblock content %}
