{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
<div class = "container demo-page">
    <br>
    <div class="br-pagebody">
        <div class="br-section-wrapper">
                <br>
          <div class="table-wrapper">
              <table id="datatable1" class="table display responsive nowrap" style="width:40%;/">
            <thead>
            <tr>
              <th class="wd-15p">name</th>
            </tr>
            </thead>
            <tbody>
            {% for i in date %}
            <tr>
              <td><a href="{% url 'date_filtered_daily_work_reporting_to_hr' i.id%}">{{i.add_date}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
</div>

{% endblock content %}

