{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
<div class = "container demo-page">
    <br>
    <div class="br-pagebody">
        <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Update Your Daily Work</h5>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30" id="form_insert_employee" data-branches-url="{% url 'ajax_load_branches' %}" novalidate>
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
    </div>
</div>

{% endblock content %}