{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
<div class = "container demo-page">
    <br>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="br-pagebody">
        <div class="br-section-wrapper">
                <br>
          <div class="table-wrapper">
              {% if user.dept.department_name == "Marketing"%}
              <form method="post">
                {% csrf_token %}
                  <div class="form-inline">
                  <b>For:</b>&nbsp; <input style="width:20%" type="date" name="fromdate"/>&nbsp;&nbsp;
                  <button class="btn btn-secondary" style="width:20%">Search</button>
                  </div><br>
                    <table id="datatable1" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-5p">Name</th>
                              <th class="wd-5p">Date</th>
                              <th class="wd-5p">Time</th>
                              <th class="wd-10p">interested</th>
                              <th class="wd-5p">not-interested</th>
                              <th class="wd-5p">Ringing/off/NR</th>
                              <th class="wd-5p">No. of Calls</th>
                              <th class="wd-5p">New-Boxes</th>
                              <th class="wd-5p">Edit</th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for i in data %}
                            <tr>
                              <td>{{i.user_mkt}}</td>
                              <td>{{i.date_mkt}}</td>
                              <td>{{i.time}}</td>
                              <td>{{i.interested}}</td>
                              <td>{{i.not_interested}}</td>
                              <td>{{i.ringing_SwitchOff_NR}}</td>
                              <td>{{i.ringing_SwitchOff_NR|add:i.interested|add:i.not_interested}}</td>
                              <td>{{i.new_boxes_order}}</td>
                              <td><a href="{% url 'update_daily_work_reporting_for_marketing' i.id%}">Edit</a></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                    </table><br>
                    <table  class="table display responsive nowrap" style="width:50%">
                        <thead>
                            <tr>
                              <th class="wd-5p">Date</th>
                              <th class="wd-5p">Name</th>
                              <th class="wd-5p">Total Calls</th>
                              <th class="wd-5p">New-Boxes</th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for i in result_for_total %}
                            <tr>
                              <td>{{i.date_mkt}}</td>
                              <td>{{i.user_mkt}}</td>
                              <td>{{i.totalcall}}</td>
                              <td>{{i.boxes_order}}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                    </table>
              </form>
              {% elif user.dept.department_name == "Tech-Hub"%}
              <table id="datatable2" class="table display responsive nowrap" style="width:40%;/">
            <thead>
            <tr>
              <th class="wd-15p">name</th>
            </tr>
            </thead>
            <tbody>
                {% for i in date %}
                <tr>
                  <td><a href="{% url 'date_filtered_daily_work_reporting_to_head' i.id%}">{{i.add_date}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
              {% endif %}
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
  </div>
</div>
</div>

{% endblock content %}

