{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
<div class = "container demo-page">
    <br>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="br-pagebody">
        <div class="br-section-wrapper">
                <br>
          <div class="table-wrapper">
              <table id="tbl_id" class="table display responsive nowrap">
                  <thead>
                        <tr>
                          <th class="wd-10p">Name</th>
                          <th class="wd-10p">Project Name</th>
                          <th class="wd-10p">Department</th>
                          <th class="wd-5p">Created At</th>
                          <th class="wd-35p">Work</th>
                          <th class="wd-5p">Edit</th>
                        </tr>
                      </thead>
                  <tbody>
                  {% for i in new.date.all%}
                        <tr>
                            <td>{{i.user.username}}</td>
                            <td>{{i.project_name}}</td>
                            <td>{{i.user.dept}}</td>
                            <td>{{i.date}}</td>
                            <td><textarea disabled style="width:100%">{{i.project_work}}</textarea></td>
                            <td><a href="{% url 'update_daily_work_reporting' i.id%}">Edit</a></td>
                        </tr>
                  {% endfor %}
                      </tbody>
              </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
  </div>
</div>
</div>


{% endblock content %}


{% for i in new.date.all %}
    {{i.id}}
{% endfor %}