{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
<!--          <div align="right">-->
<!--            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example<span class="caret"></span></button>-->
<!--          </div>-->
          <br>
          <div class="table-wrapper">
              <table id="datatable2" class="table display responsive nowrap">
                  <thead>
                        <tr>
                          <th class="wd-15p">Status</th>
                          <th class="wd-20p">Created At</th>
                          <th class="wd-20p">User</th>
                          <th class="wd-20p">From</th>
                          <th class="wd-15p">To</th>
                          <th class="wd-25p">View</th>
                        </tr>
                  </thead>
                        <tbody>
                    {% if user.user_type == "Department_Head"%}
                    {% for j in b %}
                    {% for i in data %}
                    {% if user.email == j.Email %}
                        {% if i.user_get.dept == j.Department %}
                          {% if i.Department_head_leave_status == "Pending"%}
                            <tr>
                                  <td><a href="{% url 'update_leave_department_head_status' i.id %}">{{i.Department_head_leave_status}}</a></td>
                                  <td>{{i.created_at}}</td>
                                  <td>{{i.user_get}}</td>
                                  <td>{{i.leave_starting_date}}</td>
                                  <td>{{i.leave_ending_date}}</td>
                                  <td><a href="{% url 'show_employee_leave_status' i.id%}">Tap To View</a></td>
                            </tr>
                          {% endif %}
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    </tbody>
              </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>

<!--.....................modal table........................-->

{% endblock content %}
