{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .static{
    width:50%;
    }
</style>
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div align="right">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add New Department</button>
          </div>
          <br>
          <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-5p">ID</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-5p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in data %}
                <tr>
                  <td>{{i.id}}</td>
                  <td><a href="{% url 'department_related_employee' i.id%}">{{i.department_name}}</a></td>
                  <td><a href="{% url 'update_department' i.id%}">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="{% url 'manage'%}">Delete</a> </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<!--.....................modal table for add department........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content static">
      <div class="modal-header">
        <h5>Add Your Department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30">
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>
<!--.........................end modal table for add department........................-->

{% endblock content %}
