<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <form action="{% url 'email'%}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    to
                </td>
                <td>
                    <input type="email"name="toemail">
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="content"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="send">
                </td>
            </tr>
        </table>

    </form>
</body>
</html>