{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
                  <div class="form-inline">
                  </div><br>
                    <table id="" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-10p">Id</th>
                              <th class="wd-10p">Name</th>
                              <th class="wd-10p">Designation</th>
                              <th class="wd-10p">Email</th>

                            </tr>
                          </thead>
                        <tbody>
                          {% for i in data %}
                            <tr>
                              <td>{{i.Emp_ID}}</td>
                               <td><a href="{%url 'atd_filter_by_department_head' i.id%}">{{i.Name}}</a></td>
                              <td>{{i.Designation}}</td>
                              <td>{{i.Email}}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                    </table>
              <br>
              {% if user.user_type == "Department_Head" %}
                    <table id="datatable1" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-10p">Id</th>
                              <th class="wd-10p">Name</th>
                              <th class="wd-10p">Designation</th>
                              <th class="wd-10p">Email</th>
                            </tr>
                          </thead>
                        <tbody>

                          {% for i in emp_data %}
                          {% if i.Department == user.dept%}
                          {% if i.Emp_Status == "Active"%}
                            <tr>
                              <td>{{i.Emp_ID}}</td>
                              <td><a href="{% url 'atd_filter_by_department_head' i.id%}">{{i.Name}}</a></td>
                              <td>{{i.Designation}}</td>
                              <td>{{i.Email}}</td>
                            </tr>
                          {% endif %}
                          {% endif %}
                          {% endfor %}
                          </tbody>
                    </table>
              {% endif %}
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
{% endblock content %}
