{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->

<div class = "container demo-page">
    <br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Active</a>
    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Inactive</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="br-pagebody">
      <div class="br-section-wrapper">
        <br>
        <div align="right">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add New Employee</button>
        </div>
        <br>
        <div class="table-wrapper">
          <table id="datatable1" class="table display responsive nowrap">
            <thead>
            <tr>
              <th class="wd-15p">name</th>
              <th class="wd-20p">Position</th>
              <th class="wd-15p">Start date</th>
              <th class="wd-25p">E-mail</th>
              <th class="wd-05p">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
              <td><a href="{% url 'show_particular_employee' i.id %}">{{i.Name}}</a></td>
              <td>{{i.Department}}</td>
              <td>{{i.Training_date}}</td>
              <td>{{i.Email}}</td>
              <td><a href="{% url 'update_employee' i.id%}">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{% url 'manage'%}">Delete</a> </td>

            </tr>
            {% endfor %}
            </tbody>
          </table>
          <p class="br-section-label-sm">.</p>
        </div><!-- table-wrapper -->
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="br-pagebody">
      <div class="br-section-wrapper">
        <br>
        <div align="right">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add New Employee</button>
        </div>
        <br>
        <div class="table-wrapper">
          <table id="datatable2" class="table display responsive nowrap" style="width:100%;/">
            <thead>
            <tr>
              <th class="wd-15p">name</th>
              <th class="wd-20p">Position</th>
              <th class="wd-15p">Start date</th>
              <th class="wd-25p">E-mail</th>
              <th class="wd-05p">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for i in active %}
            <tr>
              <td><a href="{% url 'show_particular_employee' i.id %}">{{i.Name}}</a></td>
              <td>{{i.Department}}</td>
              <td>{{i.Training_date}}</td>
              <td>{{i.Email}}</td>
              <td><a href="{% url 'update_employee' i.id%}">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{% url 'manage'%}">Delete</a> </td>

            </tr>
            {% endfor %}
            </tbody>
          </table>
          <p class="br-section-label-sm">.</p>
        </div><!-- table-wrapper -->
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

      <div class="br-pagebody">
        <div class="br-section-wrapper">
        <br>
        <div align="right">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add New Employee</button>
        </div>
        <br>
        <div class="table-wrapper">
          <table id="datatable3" class="table display responsive nowrap" style="width:100%;">
            <thead>
            <tr>
              <th class="wd-15p">name</th>
              <th class="wd-20p">Position</th>
              <th class="wd-15p">Start date</th>
              <th class="wd-25p">E-mail</th>
              <th class="wd-05p">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for i in InActive %}
            {% if i.Emp_Status == "InActive"%}
            <tr>
              <td><a href="{% url 'show_particular_employee' i.id %}">{{i.Name}}</a></td>
              <td>{{i.Department}}</td>
              <td>{{i.Training_date}}</td>
              <td>{{i.Email}}</td>
              <td><a href="{% url 'update_employee' i.id%}">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{% url 'manage'%}">Delete</a> </td>
            </tr>
            {% else %}
            {% endif %}
            {% endfor %}
            </tbody>
          </table>
          <p class="br-section-label-sm">.</p>
        </div><!-- table-wrapper -->
      </div>
      </div>
  </div>
</div>
</div>
<!--.....................modal table........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30" id="form_insert_employee" data-branches-url="{% url 'ajax_load_branches' %}" novalidate>
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                          <button class="btn btn-secondary">Cancel</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>


{% endblock content %}
