{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .static{
    width:50%;
    }
</style>
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>

          <br>
          <div class="table-wrapper">
            <table id="buttons_dataTable" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-5p">ID</th>
                  <th class="wd-10p">Name</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-15p">Designation</th>
                  <th class="wd-15p">Number</th>
                  <th class="wd-15p">Alternate_Number</th>
                  <th class="wd-15p">Email</th>
                  <th class="wd-15p">DOB</th>
                  <th class="wd-15p">Gender</th>
                  <th class="wd-15p">Adress</th>
                  <th class="wd-15p">Blood_Grp</th>
                  <th class="wd-15p">Training_date</th>
                  <th class="wd-15p">Joining_date</th>
                  <th class="wd-15p">Salary</th>
                  <th class="wd-15p">Increment</th>
                  <th class="wd-15p">Increment Month</th>
                  <th class="wd-5p">Bank_name</th>
                  <th class="wd-5p">Bank_accnt_no</th>
                  <th class="wd-5p">IFSC_Code</th>
                  <th class="wd-5p">Branch</th>
                  <th class="wd-5p">Card_Holder_Name</th>
                </tr>
              </thead>
              <tbody>
              {% for i in all %}
              {% if i.Emp_Status == "Active"%}
                <tr>
                  <td>{{i.Emp_ID}}</td>
                  <td>{{i.Name}}</td>
                  <td>{{i.Department}}</td>
                  <td>{{i.Designation}}</td>
                  <td>{{i.Number}}</td>
                  <td>{{i.Alternate_Number}}</td>
                  <td>{{i.Email}}</td>
                  <td>{{i.DOB}}</td>
                  <td>{{i.Gender}}</td>
                  <td>{{i.Adress}}</td>
                  <td>{{i.Blood_Grp}}</td>
                  <td>{{i.Training_date}}</td>
                  <td>{{i.Joining_date}}</td>
                  <td>{{i.Salary}}</td>
                  <td>{{i.Increment}}</td>
                  <td>{{i.Increment_Month}}</td>
                  <td>{{i.Bank_name}}</td>
                  <td>{{i.Bank_accnt_no}}</td>
                  <td>{{i.IFSC_Code}}</td>
                  <td>{{i.Branch}}</td>
                  <td>{{i.Card_Holder_Name}}</td>
                </tr>
              {% endif %}
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>

{% endblock content %}
