{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">Department Head</th>

                </tr>
                <tr>
                  <th class="wd-15p">name</th>
                  <th class="wd-20p">Email</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-25p">Designation</th>
                </tr>
              </thead>
              <tbody>
              {% for i in value.connect_department.all %}
                  {% for a in form %}
                    {% if i.Email == a.email %}
              <tr>
                  <td><a href="{% url 'show_particular_employee' i.id %}">{{i.Name}}</a> </td>
                  <td>{{i.Email}}</td>
                  <td>{{i.Department}}</td>
                  <td>{{i.Designation}}</td>
                </tr>
                    {% endif %}
                  {% endfor %}

              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="datatable2" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">name</th>
                  <th class="wd-20p">Email</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-25p">Designation</th>
                </tr>
              </thead>
              <tbody>
              {% for i in value.connect_department.all %}
                <tr>
                  <td><a href="{% url 'show_particular_employee' i.id %}">{{i.Name}}</a> </td>
                  <td>{{i.Email}}</td>
                  <td>{{i.Department}}</td>
                  <td>{{i.Designation}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
{% endblock content %}
