{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>LB LUBRICANTS</title>
	<link href="{%static "lbinvoice/css/bootstrap.min.css"%}" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" type="text/css" href="{%static "lbinvoice/css/style.css"%}">
	<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">

</head>
<body id="text-val">

	<!-- ========= header section start ========= -->
	<section>
		<div class="top-header">
			<h2>INVOICE</h2>
		</div>
		<hr/>
		<div class="bottom-header">
			<div class="container">
				<div class="main-header">
					<div class="logo-sec">
						<img src="{%static "lbinvoice/images/logo.png"%}" class="img-responsive" alt="logo">
						<h6>Experience The Smoothness</h6>
					</div>
					<div class="address-sec">
						<h5>
							LB Lubricants
						</h5><h6><a style="color:white;">WWW.LBLUBRICANTS.COM</a></h6>
						<h6>
							301, Raj Victoria, Opposite Raj Arcade,<br/>
							Near Galaxy Circle & Time Cinema,<br/>
							Pal, Adajan , Surat,Gujarat - 395009. <br/>
							+91 9081567094
						</h6>
						<p style="margin-bottom:0;"> GSTIN : 24ACKPL5262B1ZW </p>
						<!--<p style="margin-bottom:0;"> HSN CODE : 84212300 </p>-->
						<p style="margin-bottom:0;"> Invoice Date :<span id="date"></span> </p>
						<div  style="display: flex; align-items: center; justify-content: flex-end;">
							<p style="margin: 0;">
								Invoice Number :
							</p>
							<input type="text" class="form-control" name="" style="width: 60px; padding-bottom: 5px!important; margin-left: 10px; color: #000!important; box-shadow: none!important;text-align: center;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ========= header section end ========= -->

	<section class="margin-section">
		<div class="container">
			<div class="form-section">
				<form>
					<div class="row" style="align-items: center;">
						<div class="col-4">
							<label>Name: </label>
						</div>
						<div class="col-8">
							<input type="text" size="50" class="form-control" placeholder="Enter name:" name="">
						</div>
					</div>
					<div class="row" style="align-items: center;">
						<div class="col-4">
							<label>Contact No.: </label>
						</div>
						<div class="col-8">
							<input type="text" class="form-control" placeholder="Enter number:" name="">
						</div>
					</div>
					<div class="row" style="align-items: center;">
						<div class="col-4">
							<label>Mail: </label>
						</div>
						<div class="col-8">
							<input type="text" class="form-control" placeholder="Enter Mail:" name="" size="50">
						</div>
					</div>
					<div class="row" style="align-items: center;">
						<div class="col-4">
							<label>GSTIN : </label>
						</div>
						<div class="col-8">
							<input type="text" class="form-control" placeholder="Enter GSTIN NO:" name="">
						</div>
							<div class="col-4">
							<label>PAN NO : </label>
						</div>
						<div class="col-8">
							<input type="text" class="form-control" placeholder="Enter PAN NO:" name="">
						</div>
					</div>
					<div class="row">
						<div class="col-4">
							<label>Address: </label>
						</div>
						<div class="col-8">
							<textarea class="form-control" placeholder="Enter Address" rows="3" cols="40" style="overflow:hidden" ></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- ========= billing section start ========= -->
	<section class="margin-section">
		<div class="container">
	  		<div class="row clearfix">
	    		<div class="col-md-12">
	      			<table style="width:80%!important;border:3px!important;" class="table table-bordered table-hover" id="tab_logic">
				        <thead>
							<tr>
								<th class="text-center"> No </th>
								<th class="text-center"> Product </th>
								<th class="text-center"> ML/Ltr </th>
								<th class="text-center"> Quantity </th>
								<th class="text-center"> Price </th>
								<th class="text-center"> Total </th>
							</tr>
				        </thead>
				        <tbody>
							<tr id='addr0'>
								<td style="text-align:center;">1</td>
								<td>
									<select class="form-control" style="width:300px;border: none;box-shadow: inset 0 1px 1px #fff; -webkit-appearance: none;color:#000;font-weight:600;">
										<option selected disabled>Choose Product</option>
										<option>LB NATURAL</option>
										<option>LB PURO+</option>
										<option>LB PURO LITE</option>
										<option>LB PREMIUM</option>
										<option>LB TURBO</option>
									</select>
								</td>
								<td style="width:200px;">
									<select class="form-control" style="border: none;box-shadow: inset 0 1px 1px #fff; -webkit-appearance: none;color:#000;font-weight:600;">
										<option selected disabled>Choose ML / LTR </option>
										<option>900 ML</option>
										<option>1 Ltr</option>
										<option>50 Ltr</option>
										<option>210 Ltr</option>
									</select>
								</td>
								<td style="width:155px;">
									<input type="number" name='qty[]' placeholder='Enter Quantity' class="form-control qty" step="0" min="0"/>
								</td>
								<td style="width:155px;">
									<input type="number" name='price[]' placeholder='Enter Price' class="form-control price" step="0.00" min="0"/>
								</td>
								<td style="width:155px;">
									<input type="number" name='total[]' placeholder='0.00' class="form-control total" readonly/>
								</td>
							</tr>
							<tr id='addr1'></tr>
				        </tbody>
	      			</table>
	   			</div>
	  		</div>
		  	<div class="row clearfix" id="printpagebutton">
		   		<div class="col-md-12" >
		      		<button id="add_row" class="btn btn-default pull-left">Add Row</button>
		      		<button id='delete_row' class="pull-right btn btn-default">Delete Row</button>
		      		<center>
		      		<input id="printpagebutton" type="button" class="btn" value="Print Invoice" onclick="printpage()"/>
		      		</center>
	    		</div>
		  	</div>
			<div class="row clearfix" style="margin-top:20px">
				<div class="pull-right col-md-4">
					<table class="table table-bordered table-hover" id="tab_logic_total">
						<tbody>
							<tr>
								<th class="text-center">Sub Total</th>
								<td class="text-center"><input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" /></td>
							</tr>
							<tr>
								<th class="text-center">Discount</th>
								<td class="text-center"><input type="number" name='discount' placeholder='0.00' class="form-control" id="discount"/></td>
							</tr>
							<tr>
								<th class="text-center">IGST</th>
								<td class="text-center">
									<div class="input-group mb-2 mb-sm-0">
										<input type="number" class="form-control" id="tax" placeholder="0">
										<div class="input-group-addon">%</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="text-center">SGST</th>
								<td class="text-center">
									<div class="input-group mb-2 mb-sm-0">
										<input type="number" class="form-control" id="sgst" placeholder="0">
										<div class="input-group-addon">%</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="text-center">CGST</th>
								<td class="text-center">
									<div class="input-group mb-2 mb-sm-0">
										<input type="number" class="form-control" id="cgst" placeholder="0">
										<div class="input-group-addon">%</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="text-center">GST Tax Amount</th>
								<td class="text-center">
									<input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control"/>
								</td>
							</tr>
							<tr>
								<th class="text-center">Total</th>
								<td class="text-center">
									<input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control"/>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!-- ========= billing section end ========= -->

	<section>
		<div class="container">
			<div class="foot">
				<h6>Signature:______________________</h6>
			</div>
		</div>
	</section>
		<script type="text/javascript" src="{%static "lbinvoice/js/jquery-1.11.1.min.js"%}"></script>
	<script type="text/javascript" src="{%static "lbinvoice/js/bootstrap.min.js"%}"></script>
	<script type="text/javascript" src="{%static "lbinvoice/js/script.js"%}"></script>
<script>
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "-" + m + "-" + y;
</script>
</body>
</html>