{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Leave Form </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>

        @media print{
            #print-btn{
                display: none;
            }
        }

        @media(max-width: 991px){
            p, li, td{
                font-size: 14px;
            }
        }

        .logo-block{
            width: 70%;
            margin: auto;
            text-align: center;
            padding: 30px 0;
        }

        .leave-title{
            letter-spacing: 2px;
        }

        .requested-leave{
            text-align: center;
            border-bottom: 1px solid #aaa;
            width: fit-content;
            margin: auto;
        }

        .underline{
            border-bottom: 1px solid #aaa;
            padding-bottom: 3px;
        }

        .approved-block{
            padding-left: 25px;
        }

        .imp-notes {
            display: flex;
        }

        #imp-comments{
            width: 100%;
        }

        #imp-comments:focus{
            outline: none;
        }

        .instruction-text{
            font-weight: 600;
        }
        .instruction-text span{
            border-bottom: 1px solid #000;
            margin-right: 10px;
        }

        .employee-block{
            width: 40%;
            padding-left: 20px;
            text-align: center;
        }

        .employee-block .employee-text{
            font-weight: 600;
        }

        .ceo-block{
            width: 40%;
            padding-right: 20px;
            text-align: center;
            margin-left: auto;
        }

        .ceo-block .ceo-text{
            font-weight: 600;
        }

        .sign-block{
            border-bottom: 1px solid #aaa;
        }
       .table-bordered td, .table-bordered th, .table-bordered, .table-bordered tr {
            border: 2px solid #000!important;
        }
<!--       .logo-block img{-->
<!--            filter: grayscale(1) invert(1);-->
<!--        }-->

        @media print{
        .logo-block img{
            filter: grayscale(1) invert(1);
        }
        .leave-title{
            letter-spacing: 2px;
        }

        p, li, td{
            font-size: 20px;
        }

        .employee-block{
            width: 70%;
            padding-left: 20px;
            text-align: center;
        }

        .employee-block .employee-text{
            font-weight: 600;
        }

        .ceo-block{
            width: 70%;
            padding-right: 20px;
            text-align: center;
            margin-left: auto;
        }

        .ceo-block .ceo-text{
            font-weight: 600;
        }

        .sign-block{
            border-bottom: 1px solid #aaa;
        }
       .table-bordered td, .table-bordered th, .table-bordered, .table-bordered tr {
            border: 2px solid #000!important;
        }

        }

    </style>
</head>
<body>
{% for j in emp%}
    {% if leave.user_get.email == j.Email %}
    <div class="container">

        <div class="logo-block">
            <img src="{%static "img/LOGO_leave_form.png"%}" alt="" class="img-fluid">
        </div>

        <h2 class="text-center leave-title"> LEAVE APPLICATION FORM </h2>

        <table class="table table-bordered" border = "1" cellspacing = "0" >
            <tbody>
                <tr>
                    <td colspan="3"> EMPLOYEE NAME :-&nbsp; {{leave.user_get}}  </td>
                    <td colspan="3"> DEPARTMENT :-&nbsp; {{j.Department}} </td>
                </tr>
                <tr>
                    <td colspan="3"> DESIGNATION :-&nbsp; {{j.Designation}} </td>
                    <td colspan="3"> MOBILE NUMBER  :-&nbsp; {{j.Number}} </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered" border = "1" cellspacing = "0" >
            <tbody>

                <tr>
                    <td colspan="6">
                        <p class="requested-leave"> REASON FOR REQUESTED LEAVE </p>
                        <p> Leave Type - &nbsp; {{leave.leave_type}}</p>
                        <p> Reason - &nbsp;{{leave.reason}}</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        Number Of Days Requested:- &nbsp;{{leave.subtract}}
                    </td>
                    <td colspan="2">
                        Leave From:- &nbsp;{{leave.leave_starting_date}}
                    </td>
                    <td colspan="2">
                        To:- &nbsp;{{leave.leave_ending_date}}
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        Date Of Application :- &nbsp;{{leave.created_at}}
                    </td>
                </tr>

                <tr>

                    <td colspan = "6">

                        <p> Manager/ HR/ Dept. Head Approval:- </p>

                        <div class="approved-block">

                        <div class="row">

                            <div class="col-md-4 col-sm-6">
                                <p> Approved By MANAGER: - </p>
                                <p> Status:
                                   <span class="underline"> &nbsp;{{leave.leave_status}} </span>
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <p> Approved By HR: -
                                    <p> Status:
                                        <span class="underline">&nbsp; {{leave.HR_leave_status}} </span>
                                    </p>
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <p> Approved By DEPT. HEAD: -
                                    <p> Status:
                                        <span class="underline"> &nbsp;{{leave.Department_head_leave_status}} </span>
                                     </p>
                                </p>
                            </div>

                        </div>

                        </div>

                    </td>

                </tr>

                <tr>

                    <td colspan = "6">
                        <div class="row">
                            <div class="col-md-2 col-sm-3">
                                <p class="imp-notes"> Important Notes:- </p>
                            </div>
                            <div class="col-md-10 col-sm-8">
                                <textarea disabled name="" id="imp-comments" rows = "4">{{leave.half_full_day}} &nbsp; : &nbsp;{{leave.additional_comment}}</textarea>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="instruction-block">
            <p class="instruction-text">
                <span>
                    Instructions Before Submitting The Leave Application
                </span>: -
                 </p>

            <ul>
                <li> Employee Has To Submit The Leave Application Form Before 2 Days Prior To Leave Taken </li>
                <li> Leave Application Must Be Verified By All Of The Above Superiors And Ceo. </li>
                <li> Verified Application Will Only Be Taken Into Consideration For The Leave Approval. </li>
                <li> Not More Than 3 Leaves Shall Be Taken In A Month. </li>
            </ul>
        </div>


        <br><br><br><br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="employee-block">
                    <p class="employee-text">  </p>
                    <p class="">  </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="ceo-block">
                    <p class="ceo-text"> CEO's Signature </p>
                    <p class="sign-block">  </p>
                </div>
            </div>
        </div>

    </div>
    {% endif %}
{% endfor %}
    <!-- <button id = "printable"> Print </button> -->

    <div class="container">
        <button onclick="window.print()" class="btn btn-primary" id = "print-btn">Print This Page</button>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>