{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
<div class = "container demo-page">
    <br>
    <div class="br-pagebody">
      <div class="br-section-wrapper">
        <br>
        <div align="right">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add New Date</button>
        </div>
        <br>
        <div class="table-wrapper">
          <table id="datatable2" class="table display responsive nowrap" style="width:50%;/">
            <thead>
            <tr>
              <th class="wd-15p">name</th>
              <th class="wd-15p">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for i in date %}
            <tr>
              <td>{{i.add_date}}</td>
              <td><a href="{% url 'delete_date' i.id%}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          <p class="br-section-label-sm">.</p>
        </div><!-- table-wrapper -->
      </div>
    </div>
</div>


<!--.....................modal table for add department........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content static">
      <div class="modal-header">
        <h5>Add Your Department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30">
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>

{% endblock content %}