{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
<br>
<h4><div style="color:black">&nbsp;&nbsp;Delete Department </div></h4>
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table  class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">id</th>
                  <th class="wd-15p">name</th>
                  <th class="wd-05p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in form %}
                <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.department_name}}</td>
                  <td><button><a onclick="myFunction()" href="{% url 'delete_department' i.id %}">Delete</a></button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<h4><div style="color:black">&nbsp;&nbsp;Delete Designation</div></h4>
     <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">ID</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-20p">Designation</th>
                  <th class="wd-05p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in data %}
                <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.depart_name}}</td>
                  <td>{{i.designation_name}}</td>
                  <td><button><a href="{% url 'delete_designation' i.id%}">Delete</a></button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<h4><div style="color:black">&nbsp;&nbsp;Delete Employees</div></h4>
<div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="data-tab" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">ID</th>
                  <th class="wd-15p">Name</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-20p">Designation</th>
                  <th class="wd-20p">Number</th>
                  <th class="wd-05p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in emp %}
                <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.Name}}</td>
                  <td>{{i.Department}}</td>
                  <td>{{i.Designation}}</td>
                  <td>{{i.Number}}</td>
                  <td><button><a href="{% url 'delete_employee' i.id%}">Delete</a></button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<h4><div style="color:black">&nbsp;&nbsp;Delete Registration</div></h4>
<div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="data-register-tab" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">Name</th>
                  <th class="wd-15p">Email</th>
                  <th class="wd-15p">User Type</th>
                  <th class="wd-05p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in register %}
                <tr>
                  <td>{{i.username}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.user_type}}</td>
                  <td><button><a href="{% url 'delete_register_detail' i.id%}">Delete</a></button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<h4><div style="color:black">&nbsp;&nbsp;Edit/Delete Leave Type</div></h4>
<div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="data-leave-tab" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-35p">Name</th>
                  <th class="wd-05p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in leave_type %}
                <tr>
                  <td>{{i.leave_type_name}}</td>
                  <td><button><a href="{% url 'update_leave_type' i.id%}">Edit</a></button>&nbsp;&nbsp;<button><a href="{% url 'delete_leave_type' i.id%}">Delete</a></button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<h4><div style="color:black">&nbsp;&nbsp Delete Leave</div></h4>
<div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="data-delerte-leave-tab" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-35p">Name</th>
                  <th class="wd-15p">Type</th>
                  <th class="wd-15p">starting Date</th>
                  <th class="wd-15p">Ending Date</th>
                  <th class="wd-10p">Status</th>
                  <th class="wd-05p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in leave %}
                <tr>
                  <td>{{i.user_get.email}}</td>
                  <td>{{i.leave_type}}</td>
                  <td>{{i.leave_starting_date}}</td>
                  <td>{{i.leave_ending_date}}</td>
                  <td>{{i.leave_status}}</td>
                  <td><button><a href="{% url 'delete_leave' i.id%}">Delete</a></button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<h4><div style="color:black">&nbsp;&nbsp;Delete Notice Period</div></h4>
     <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="data-delete-notice-period" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">Name</th>
                  <th class="wd-15p">Department</th>
                  <th class="wd-20p">Designation</th>
                  <th class="wd-05p">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for i in notice %}
                <tr>
                  <td>{{i.Name}}</td>
                  <td>{{i.Name.Department}}</td>
                  <td>{{i.Name.Designation}}</td>
                  <td><button><a href="{% url 'delete_notice_period' i.id%}">Delete</a></button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
<h4><div style="color:black">&nbsp;&nbsp;Delete Resignation</div></h4>
     <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <div class="table-wrapper">
            <table id="data-delete-resignation" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">Name</th>
                  <th class="wd-15p">project_status</th>
                  <th class="wd-20p">Designation</th>
                </tr>
              </thead>
              <tbody>
              {% for i in resig %}
                <tr>
                  <td>{{i.Name}}</td>
                  <td>{{i.Name.Department}}</td>
                  <td>{{i.Name.Designation}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>

{% endblock content %}
