{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br>
          <br>
          <div class="table-wrapper">
              <form action="" method="POST">
                  {%csrf_token %}
              <table id="datatable2" class="table display responsive nowrap">
                  <thead>
                        <tr>
                          <th class="wd-15p">Name</th>
                          <th class="wd-20p">Created At</th>
                          <th class="wd-15p">Delete</th>
                        </tr>
                      </thead>
                  <tbody>

                            {% for i in new %}
                                <tr id="{{i.id}}">
                                  <td>{{i.Name}}</td>
                                  <td>{{i.created_at}}</td>
                                  <td><input type="checkbox" name="employees_id[]" value="{{i.id}}" id="delete2_work"></td>
                                </tr>
                            {% endfor %}

                    </tbody>
              </table>
                  <button type="submit" id="delete_btn">Delete</button>
              </form>
          </div>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
{% endblock content %}
