{% extends 'base.html'%}
{% load static %}
{% block content%}
    <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="#">Tables</a>
      <span class="breadcrumb-item active">Basic Table</span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="br-pagetitle">
  </div><!-- d-flex -->
  <div class="br-pagebody">
    <div class="br-section-wrapper"><br>
      <div align="right" >
          <a href="{% url 'delete_projects' data.id%}"><button type="button" class="btn btn-secondary">Tap To Remove Projects</button></a>
          <a href="{% url 'update_projects' data.id%}"><button type="button" class="btn btn-secondary">Update Project</button></a>
      </div><br>
      <table id="buttons_dataTable" class="table display responsive nowrap">
          <tbody>
                              <tr>
                                  <td class="wd-10p">Project Name :</td>
                                  <td class="wd-35p">{{data.project_name}}</td>
                              </tr>
                              <tr>
                                  <td>Project Handling By :</td>
                                  <td>{{data.project_handling_by}}</td>
                              </tr>
                              <tr>
                                  <td>Handler Department:</td>
                                  <td>{{data.project_handling_by.Department}}</td>
                              </tr>
                              <tr>
                                  <td>Handler Designation:</td>
                                  <td>{{data.project_handling_by.Designation}}</td>
                              </tr>
                              <tr>
                                  <td>Date Of Project Taken :</td>
                                  <td>{{data.date_of_project_taken}}</td>
                              </tr>
                              <tr>
                                  <td>Date Of Project Complition :</td>
                                  <td>{{data.date_of_project_complition}}</td>
                              </tr>
                              <tr>
                                  <td>Project Status :</td>
                                  <td>{{data.project_status}}</td>
                              </tr>
                              <tr>
                                  <td>Comments:</td>
                                  <td><textarea disabled style="width:100%">{{data.comments}}</textarea></td>
                              </tr>
                              <tr>
                                  {% if data.attachment%}
                                    <td>Attachment:</td>
                                    <td><a href="{{data.attachment.url}}"></a>{{data.attachment}}</td>
                                  {% else %}
                                  <td>Attachment:</td>
                                    <td>{{data.attachment}}</td>
                                  {% endif %}
                              </tr>
                          </tbody>
      </table>
<br>
    </div><!-- br-section-wrapper -->
  </div><!-- br-pagebody -->
<!--.....................modal table........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30" id="form_insert_employee" data-branches-url="{% url 'ajax_load_branches' %}" novalidate>
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                          <button class="btn btn-secondary">Cancel</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>

{% endblock %}