{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagebody">
        <div class="br-section-wrapper"><br>
<!--          <a href="">Forgot Password</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Reset Password</a>-->
          <div align="right">
            <a href="{% url 'signup'%}"><button type="button" class="btn btn-secondary">New Registration</button></a>
          </div>
          <br>
          <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">name</th>
                  <th class="wd-35p">E-mail</th>
                  <th class="wd-20p">Type</th>
                  <th class="wd-20p">Department</th>
                  <th class="wd-15p">Edit</th>
                </tr>
              </thead>
              <tbody>
              {% for i in data %}
                <tr>
                  <td>{{i.username}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.user_type}}</td>
                  <td>{{i.dept}}</td>
                  <td><a href="{% url 'update_register' i.id%}">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{% url 'manage'%}">Delete</a> </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>

<!--.....................modal table........................-->


{% endblock content %}
