{% extends 'base.html'%}
{% load static %}
{% block content%}
    <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="#">Tables</a>
      <span class="breadcrumb-item active">Basic Table</span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="br-pagetitle">
    <i class="icon icon ion-ios-bookmarks-outline"></i>
    <div>
      <h4>Resignation</h4>
    </div>
  </div><!-- d-flex -->
  <div class="br-pagebody">
    <div class="br-section-wrapper"><br>
      <div align="right">
        <a href="{% url 'manage'%}"><button type="button" class="btn btn-secondary">Tap To Remove Resignation</button></a>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add New Resignation</button>
      </div>
      <table id="buttons_dataTable" class="table display responsive nowrap">
                        <thead>
                            <tr>
                              <th class="wd-15p">Name</th>
                              <th class="wd-10p">Department</th>
                              <th class="wd-10p">Designation</th>
                              <th class="wd-5p">Date</th>
                              <th class="wd-5p">attachment</th>
                            </tr>
                          </thead>
                        <tbody>
                        {% for i in data %}
                            <tr>
                              <td><a href="{% url 'update_resignation' i.id %}">{{i.Name}}</a></td>
                              <td>{{i.Name.Department}}</td>
                              <td>{{i.Name.Designation}}</td>
                              <td>{{i.Date}}</td>
                                {% if i.attachment %}
                              <td><a href="{{i.attachment.url}}">View</a></td>
                                {% else %}
                              <td><a href=""></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                          </tbody>
                    </table>
<br>
    </div><!-- br-section-wrapper -->
  </div><!-- br-pagebody -->
<!--.....................modal table........................-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="br-pagebody">
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30" id="form_insert_employee" data-branches-url="{% url 'ajax_load_branches' %}" novalidate>
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                          <button class="btn btn-secondary">Cancel</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>
</div>

{% endblock %}