{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
<div class = "container demo-page">
    <br>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="br-pagebody">
        <div class="br-section-wrapper">
                <br>
<br>
          <div class="table-wrapper">
              <table id="datatable1" class="table display responsive nowrap">
                  <thead>
                        <tr>
                          <th class="wd-10p">Name</th>
                          <th class="wd-10p">Email</th>
                          <th class="wd-10p">Department</th>
                          <th class="wd-5p">Salary</th>
                          <th class="wd-5p">Increment</th>
                            <th class="wd-5p">Edit</th>
                            <th class="wd-5p">Increment_Month</th>
                        </tr>
                      </thead>
                  <tbody>
                  {% for i in data %}
                        <tr>
                            <td><a href="{% url 'show_particular_employee' i.id%}">{{i.Name}}</a></td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Department}}</td>
                            <td>{{i.Salary}}</td>
                            <td>{{i.Increment}}</td>
                            <td><a href="{% url 'increment_salary' i.id%}">Edit</a></td>
                            <td>{{i.Increment_Month}}</td>
                        </tr>
                  {% endfor %}
                      </tbody>

              </table>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
  </div>
</div>
</div>

<!--.....................modal table for add department........................-->

{% endblock content %}

