{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="br-pagebody">
<div class="br-section-wrapper">

<h6 class="tx-inverse tx-uppercase tx-bold tx-14 mg-t-80 mg-b-10">&nbsp</h6>
<p class="br-section-text">Add borders on all sides of the table and cells.</p>
    <div class="bd rounded table-responsive">
    <table class="table table-bordered mg-b-0">
      <thead>
            <tr>
              <th>leave_type</th>
              <td>{{data.leave_type}}</td>
            </tr>
            <tr>
              <th class="wd-15p">leave_starting_date</th>
              <td>{{data.leave_starting_date}}</td>
            </tr>
            <tr>
              <th class="wd-15p">leave_ending_date</th>
              <td>{{data.leave_ending_date}}</td>
            </tr>
            <tr>
              <th class="wd-15p">Total Leave Days</th>
              <td>{{data.subtract}}</td>
            </tr>
            <tr>
              <th class="wd-15p">reason</th>
              <td>{{data.reason}}</td>
            </tr>
            <tr>
              <th class="wd-15p">Admin Status</th>
              <td>{{data.leave_status}}</td>
            </tr>
            <tr>
              <th class="wd-15p">HR_leave_status</th>
              <td>{{data.HR_leave_status}}</td>
            </tr>
            <tr>
              <th class="wd-15p">Department_head_leave_status</th>
              <td>{{data.Department_head_leave_status}}</td>
            </tr>
            <tr>
              <th class="wd-15p">leave_document</th>
                {% if data.leave_document%}
              <td>{{data.leave_document}}</td>
                {% else %}
                <td>{{data.leave_document}}</td>
                {% endif %}
            </tr>
            <tr>
              <th class="wd-15p">user name</th>
              <td>{{data.user_get}}</td>
            </tr>
            <tr>
              <th class="wd-15p">additional_comment</th>
              <td>{{data.additional_comment}}</td>
            </tr>
            <tr>
              <th class="wd-15p">created_at</th>
              <td>{{data.created_at}}</td>
            </tr>
             <tr>
              <th class="wd-15p">Department</th>
              <td>{{data.user_get.dept}}</td>
            </tr>
             <tr>
              <th class="wd-15p">Email</th>
              <td>{{data.user_get.email}}</td>
            </tr>
          </thead>
  </table>
    </div><!-- bd-0 -->
    <br>
</div>
</div>
{% endblock content %}