{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="">Cards &amp; Widgets</a>
      <span class="breadcrumb-item active">Shop &amp; Listing</span>
    </nav>
  </div><!-- br-pageheader -->


  <div class="br-pagebody pd-x-20 pd-sm-x-30 mx-wd-1350">

    <div class="row row-sm mg-t-20">
      <div class="col-xl-9">
        <div class="card bd-0 pd-0 shadow-base">
          <div class="row no-gutters">
            {% if form.Employee_Image %}
              <div class="col-md-12 col-lg-4 pd-20-force">
                <a href="{{form.Employee_Image.url}}"><img src="{{form.Employee_Image.url}}" class="img-fluid wd-md-100p wd-lg-auto" alt=""></a>
              </div><!-- col-4 -->
            {% else %}
              <div class="col-md-12 col-lg-4 pd-20-force">
                <a href="#"><img src="#" class="img-fluid wd-md-100p wd-lg-auto" alt=""></a>
              </div><!-- col-4 -->
            {% endif %}

            <div class="col-md-6 col-lg-5 pd-20-force bg-white-100">

              <h3 class="tx-normal mg-y-5 tx-inverse">{{form.Name}}</h3>
              <span class="tx-13"><b>{{form.Emp_Type}}</b> of Lathiya Brothers</span><br>
              <span class="tx-13">{{form.Department}} Department</span><br>
              <span class="tx-13">{{form.Designation}}</span><br><br>
              <span class="tx-18"><b>Employee ID&nbsp; :&nbsp;</b>&nbsp;{{form.Emp_ID}} </span><br>
              <span class="tx-13">Training Date &nbsp;: &nbsp;{{form.Training_date}} </span><br>
              <span class="tx-13">Date of Joining &nbsp;: &nbsp;{{form.Joining_date}} </span><br>

            </div><!-- col-5 -->
            <div class="col-md-6 col-lg-3 pd-20-force  d-flex align-items-start flex-column">
              {% if form.Emp_Status == 'Active' %}
                <div class="btn btn-success btn-block tx-size-xs">{{form.Emp_Status}}</div>
              {% else %}
                <div class="btn btn-danger btn-block tx-size-xs">{{form.Emp_Status}}</div>
              {% endif %}
            </div><!-- col-3-->
          </div><!-- row -->
        </div><!-- card -->
      </div><!-- col-9 -->
    </div><!-- row -->
    <div class="row row-sm mg-t-20">
      <div class="col-lg-6">
        <div class="card bd-0 shadow-base widget-16">
          <div class="row no-gutters">

            <div class="col-md-12 d-flex align-items-start flex-column pd-25-force">
              <h4 class="tx-normal mg-y-5 tx-inverse">Personal Informations</h4><br>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Phone Number</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Number}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Alternate Number</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Alternate_Number}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Email</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Email}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left" >Address</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Adress}}</span>
              </div>
              </div><br>
            </div><!-- col-7 -->
          </div><!-- row -->
        </div><!-- card -->
      </div><!-- col-6 -->
      <div class="col-lg-6">
        <div class="card bd-0 shadow-base widget-16">
          <div class="row no-gutters">
            <div class="col-md-12 d-flex align-items-start flex-column pd-25-force ">
              <h4 class="tx-normal mg-y-5 tx-inverse">Bank Details</h4><br>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Bank name</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Bank_name}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Account Number</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Bank_accnt_no}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">IFSC Code</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.IFSC_Code}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left" >Branch Name</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Branch}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left" >Holder Name</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Card_Holder_Name}}</span>
              </div>
              </div>
            </div><!-- col-7 -->
          </div><!-- row -->
        </div><!-- card -->
      </div><!-- col-6 -->
    </div><!-- row -->
    <div class="row row-sm mg-t-20">
        <div class="col-xl-12">
        <div class="card bd-0 pd-0 shadow-base">
          <div class="row no-gutters">
            <div class="col-md-6 col-lg-5 pd-20-force bg-gray-100">
              <h4 class="tx-normal mg-y-5 tx-inverse">About</h4><br>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">DOB</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.DOB}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Gender</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Gender}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Blood Group</label>
              </div>
              <div class = "col-md-6">
                <span>{{form.Blood_Grp}}</span>
              </div>
              </div>
              <div class="row" style="width: 100%">
              <div class = "col-md-6">
                <label class="tx-14 tx-gray-700 float-left">Attach File</label>
              </div>
                {% if form.Attach %}
                  <div class = "col-md-6">
                    <span><a href="{{form.Attach.url}}">{{form.Attach}}</a> </span>
                  </div>
                {% else %}
                   <div class = "col-md-6">
                    <span><a href=""></a> </span>
                  </div>
                {% endif %}
              </div>
            </div><!-- col-5 -->
            <div class="col-md-6 col-lg-5 pd-20-force bg-white-100">

              <h4 class="tx-normal mg-y-5 tx-inverse">Description</h4>
              <p class="tx-13 mg-t-20">{{form.Description_Box}}</p>
            </div><!-- col-5 -->
          </div><!-- row -->
        </div><!-- card -->
      </div><!-- col-9 -->
    </div><!-- row -->

  </div><!-- br-pagebody -->
{% endblock content %}