{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LB TechHub</title>
	<link rel="stylesheet" type="text/css" href="{%static "css/style.css"%}">
	<link rel="icon" href="images/favicon.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<style type="text/css" media="print">
		#printpagebutton {
			display: none;
		}
	</style>
</head>
<body>

	<!-- ============== INVOICE SECTION ============== -->
	<section>
		<div class="invoice-section">
			<!-- HEADER SECTION -->
			<div class="header-section">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-6 col-12 text-left">
							<div class="address-sec">
								<h5>LB TECHHUB</h5>
								<h6>
									301, Raj Victoria, Opposite Raj Arcade,
									Near Galaxy Circle & Time Cinema,
									Pal, Adajan , Surat,
									Gujarat - 395009.
								</h6>
								<h6 class="m-0">
									Phone no.:+91 261 400 2626 | +91 95102 15258
								</h6>
								<h6>
									GSTIN:- 24ETTPP9308G1Z3
								</h6>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="row">
								<div class="col-4"></div>
								<div class="col-4"></div>
								<div class="col-4 text-center">
									<div class="logo-sec">
										<img src="{%static "img/techhublogo.png"%}" class="img-fluid" alt="Logo" />
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- HEADER SECTION END -->
			<hr/>
			<!-- INVOICE TITLE SECTION -->
			<section>
				<div class="invoice-title-section">
					<h3>INVOICE</h3>
				</div>
			</section>
			<!-- INVOICE TITLE SECTION END -->
			<hr/>
			<!-- INVOICE ADDRESS SECTION -->
			<div class="invoice-address">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="address-sec">
								<h5>Bill To:</h5>
								<h6 class="m-0">
									<input type="text" class="form-control" placeholder="Name" style="height: calc(2em + 0rem + 0px)!important; padding: 0!important;" name="">
								</h6>
								<h6 class="m-0">
									<input type="text" class="form-control" placeholder="Phone No." style="height: calc(2em + 0rem + 0px)!important; padding: 0!important;" name="">
								</h6>
								<h6 class="m-0">
									<input type="text" placeholder="Email" class="form-control" style="height: calc(2em + 0rem + 0px)!important; padding: 0!important;" name="">
								</h6>
								<div class="row align-items-center">
								    <div class="col-2 pr-0" style="max-width:16%;">
								        <h6 class="m-0">
								            GSTIN :
								        </h6>
								    </div>
								    <div class="col-10 p-0">
								        <h6 class="m-0">
        									<input type="text" placeholder="GST" class="form-control" style="height: calc(2em + 0rem + 0px)!important; padding: 0!important;" name="">
        								</h6>
								    </div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12 text-right">
							<div class="address-sec">
								<h6 class="d-flex align-items-center justify-content-end m-0">
									<!--Invoice No.: <input  placeholder="Invoice No." type="text" class="form-control" name="">-->
									Invoice No.:<div class="input-group-prepend">
                                                    <span class="input-group-text" style="background:transparent;border:0;color:#000;font-weight:600;padding:0;" id="basic-addon1">LBTH - </span>
                                                </div>
                                                <input type="text" style="width: 9%;padding-right: 0;padding-left:5px;" class="form-control" placeholder="Invoice No">
								</h6>
								<h6>
									Date: <span id="date"></span>
								</h6>
								<!--<h6>-->
								<!--	Due Date: <?php echo date('d-m-Y', strtotime($date. ' + 07 days')); ?>-->
								<!--</h6>-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- INVOICE ADDRESS SECTION END -->

			<!-- INVOICE SECTION -->
			<section class="mt-5">
				<div class="container">
					<table id="myTable" class="table table-bordered">
						<thead class="thead-dark">
							<tr>
								<th scope="col" style="width: 2%;"></th>
								<th scope="col" style="font-size: 20px;">Project Description</th>
								<th scope="col" style="width: 12%; font-size: 20px; text-align: center;" ><i class="fas fa-rupee-sign"></i> Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="p-0 text-center" scope="row">
									<i style="font-size: 10px;" class="fas fa-circle"></i>
								</th>
								<td class="p-0">
									<textarea rows="10" id="textbox" class="form-control py-0" placeholder="Project Description" style="font-size: 18px!important;"></textarea>
								</td>
								<td class="p-0">
									<input type="text" placeholder="Amount" class="form-control" name="" style="height:25px;font-size: 20px!important; text-align: center; padding: 0;" >
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th scope="col"></th>
								<th scope="col" style="font-size: 20px!important;">Total</th>
								<th scope="col" class="text-center">
									<input type="text" class="form-control text-center" placeholder="Total" style="font-size: 20px!important;height: auto; padding: 0;" name="">
								</th>
							</tr>
						</tfoot>
					</table>
					<div id="printpagebutton">
						<button class="btn">Add row</button>
					</div>
				</div>
			</section>
			<!-- INVOICE SECTION END -->

			<!-- PAYMENT SECTION -->
			<section class="payment-sec mt-4">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-12">
							<div class="address-sec">
								<h6>
									Pay To - KOTAK Bank
								</h6>
								<h6>
									Account Name - L B TECH HUB
								</h6>
								<h6>
									Account No. - 7802803078
								</h6>
								<h6>
									IFCS Code - KKBK0002849
								</h6>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="row align-items-center">
								<div class="col-6">
									<h6 class="m-0">
										SUB TOTAL
									</h6>
								</div>
								<div class="col-6 d-flex align-items-center text-right">
									<i class="fas fa-rupee-sign"></i><input style="font-size: 18px;" type="text" class="form-control" placeholder="Sub Total" name="">
								</div>
							</div>



							<div class="row align-items-center">
								<div class="col-6">
									<h6 class="m-0">
										SGST(9%)
									</h6>
								</div>
								<div class="col-6 d-flex align-items-center text-right">
									<i class="fas fa-rupee-sign"></i><input style="font-size: 18px;" type="text" placeholder="SGST" class="form-control" name="">
								</div>
							</div>

							<div class="row align-items-center">
								<div class="col-6">
									<h6 class="m-0">
										CGST(9%)
									</h6>
								</div>
								<div class="col-6 d-flex align-items-center text-right">
									<i class="fas fa-rupee-sign"></i><input style="font-size: 18px;" type="text" placeholder="CGST" class="form-control" name="">
								</div>
							</div>

							<div class="row align-items-center">
								<div class="col-6">
									<h6 class="m-0">
										IGST(18%)
									</h6>
								</div>
								<div class="col-6 d-flex align-items-center text-right">
									<i class="fas fa-rupee-sign"></i><input style="font-size: 18px;" type="text" placeholder="IGST" class="form-control" name="">
								</div>
							</div>

							<div class="row align-items-center" style="background: gold;">
								<div class="col-6">
									<h6 class="m-0">
										TOTAL
									</h6>
								</div>
								<div class="col-6 d-flex align-items-center text-right">
									<i class="fas fa-rupee-sign"></i><input style="font-size: 18px;" type="text" placeholder="Total" class="form-control" name="">
								</div>
							</div>

							<div class="row align-items-center">
								<div class="col-6">
									<h6 class="m-0">
										PAYMENT MODE
									</h6>
								</div>
								<div class="col-6 d-flex align-items-center text-right">
									<input type="text" placeholder="Cash" class="form-control" name="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- PAYMENT SECTION END -->
			<hr/>
			<!-- BANK DETAILS SECTION -->
			<section>
				<div class="container">
					<div class="row align-items-end">
						<div class="col-md-9 col-12">
							<div class="address-sec">
								<h5>
									Terms & Conditions:
								</h5>
								<ul>
								    <li>
								        <h6>
								            50% Of The Payment Shall Be Cleared In Advance And The Remaining 50% Should Be Cleared After The Completion Of The Project.
								        </h6>
								    </li>
									<li>
										<h6>
											Payment Shall Be Cleared Within 7 Days After The Completion Of Project.
										</h6>
									</li>
									<li>
										<h6>
											Payment Can Be Done Via Cash, Cheque, IMPS/NEFT, UPI and Wallet Transactions.
										</h6>
									</li>
									<li>
										<h6>
											Thanks For Choosing LB TechHub. We'll Be Glad To Serve You Again..
										</h6>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-12 text-right">
							<div class="address-sec">
								<h6>
									Authorized Signatory
								</h6>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- BANK DETAILS SECTION END -->
		</div>
	</section>
	<!-- ============== INVOICE SECTION END ============== -->

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="	sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
			var tbody = $('#myTable').children('tbody');
			var table = tbody.length ? tbody : $('#myTable');
			$('button').click(function(){
			table.append('<tr><td class="p-0 text-center"><i style="font-size: 10px;" class="fas fa-circle"></i></td><td class="p-0"><textarea rows="10" class="form-control py-0" style="font-size: 18px!important;"></textarea></td><td class="p-0"><input type="text" class="form-control" name="" style="font-size: 20px!important; height:25px; text-align: center;" ></td></tr>');
			})
		});
 	</script>
 	<script>
 		function printpage() {
	        //Get the print button and put it into a variable
	        var printButton = document.getElementById("printpagebutton");
	        //Set the print button visibility to 'hidden'
	        printButton.style.visibility = 'hidden';
	        //Print the page content
	        window.print()
	        printButton.style.visibility = 'visible';
	    }
 	</script>
 	<script>
 		document.getElementById('textbox').addEventListener('keydown', function(e) {
 			if (e.key == 'Tab') {
 				e.preventDefault();
 				var start = this.selectionStart;
 				var end = this.selectionEnd;

				// set textarea value to: text before caret + tab + text after caret
				this.value = this.value.substring(0, start) +
				"\t" + this.value.substring(end);

				// put caret at right position again
				this.selectionStart =
				this.selectionEnd = start + 1;
			}
		});
 	</script>
<script>
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "-" + m + "-" + y;
</script>
</body>
</html>