<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>{{Name}}</div>
{{final}}
{% if user.is_authenticated %}
    {% for i in leave %}
        {% for j in emp %}
            {% if i.user_get.email == j.Email %}
                <li> employee name : {{i.user_get}}</li>
                <li> Department : {{j.Department}}</li>
                <li> Designation : {{j.Designation}}</li>
                <li> Number : {{j.Number}}</li>
                <li> type : {{i.leave_type}}</li>
                <li> reason : {{i.reason}}</li>
                <li> Number of days requested : {{i.subtract}} </li>
                <li> starting date : {{i.leave_starting_date}}</li>
                <li> ending date : {{i.leave_ending_date}}</li>
                <li> date of application : {{i.created_at}}</li>
                <li> Manager Status : {{i.leave_status}}</li>
                <li> HR Status : {{i.HR_leave_status}}</li>
                <li> Department Head Status : {{i.Department_head_leave_status}}</li>
                <li> Important Notes : {{i.additional_comment}}</li>
            {% endif %}
        {% endfor %}
............
    {% endfor %}
{% endif %}
</body>
</html>
