{% extends 'base.html'%}
{% load static %}
{% block content %}
{% load mathfilters %}
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="">Cards &amp; Widgets</a>
      <span class="breadcrumb-item active">Dashboard</span>
    </nav>
  </div><!-- br-pageheader -->
    <!-- ########## START: MAIN PANEL ########## -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <br><h4>Update Your Attendance</h4>
          <br>
          <div class="table-wrapper">
              <form method="post">
                {% csrf_token %}
                  <div class="form-inline">
                  <b>From:</b>&nbsp; <input style="width:20%" type="date" name="fromdate"/>&nbsp;&nbsp;
                  <b> To:</b>&nbsp;<input style="width:20%" type="date" name="todate"/>&nbsp;&nbsp;&nbsp;
                      <select name="employee" class="form-control">
                        {% for object in emp %}
                            <option>
                                {{ object.employee }}
                            </option>
                       {% endfor %}
                      </select>&nbsp;&nbsp;&nbsp;
                      <select name="status" class="form-control">
                            <option>A</option>
                            <option>H</option>
                            <option>P</option>
                      </select>&nbsp;&nbsp;&nbsp;

                  <button class="btn btn-secondary" style="width:20%">Update</button>
                  </div><br>
                   {% for i in data %}
                  {% endfor %}
              </form>
            <p class="br-section-label-sm">.</p>
          </div><!-- table-wrapper -->
        </div>
      </div>
{% endblock content %}
