a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
body {
	font-family: myFirstFont!important;
}
.table-bordered td, .table-bordered th , .table-bordered , .table-bordered tr {
    border:2px solid #000!important;
}
tbody {
    border:2px solid #000!important;
}
@font-face {
	font-family: myFirstFont;
	src:url('../fonts/trebuc.ttf');
}
/*HEADER SECTION CSS*/
.invoice-section {
	padding: 20px;
}
.header-section .address-sec h5 , .header-section .address-sec h6 {
	font-weight: 600;
}
.header-section .logo-sec {
	background: #000;
	border-radius: 10px;
	box-shadow: 0 0 10px gainsboro;
	padding: 10px;
}
.invoice-title-section h3 {
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
.form-control {
	border: 0!important;
	font-weight: 600!important;
	color: #000!important;
	background-color: transparent!important;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem transparent!important;
}
.payment-sec h6 , .address-sec h6 {
	font-weight: 600;
}
hr {
	border-color: #000!important;
}

/*HEADER SECTION CSS END*/