{% load static %}
<!--</form>-->
<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner top_panel_inner_style_3 title_present_inner breadcrumbs_present_inner">
        <div class="content_wrap">
            <h1 class="page_title"></h1>

        </div>
    </div>
</div>
<div class="page_content_wrap page_paddings_no">
            <div class="content_wrap">
                <div class="content">
                    <article class="page">
                        <section class="post_content">
                            <div class="sc_content content_wrap" data-animation="animated fadeInUp normal">
                                <div class="columns_wrap sc_columns columns_count_5">
                                    <div class="column-2_4 sc_column_item">
                                        <div class="sc_section slider_form">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_overlay">
                                                    <div class="sc_section_content">
                                                        <h4 class="sc_title sc_title_regular">Reset Your Password</h4>
                                                        <div class="sc_form_wrap">
                                                            <div class="sc_form sc_form_style_form_custom">
                                                                <form data-formtype="form_custom" method="post" novalidate>
                                                                    {% csrf_token %}
                                                                    {{ form }}
                                                                <div class="form-group">
                                                                    <div class="col-sm-offset-2 col-sm-10">
                                                                        <button type="submit" class="btn btn-default">
                                                                            change Password
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>

</div>

