{% load static %}
<body>
      {% if validlink %}
            <h3 class="card-title text-center">Change your password</h3>
            <form class="form-signin" novalidate method="post">
                {% csrf_token %}
                {{ form.as_p }}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change Password</button>
            </form>
      {% else %}
            <div class="alert alert-danger" role="alert">
              This link is already verified or invalid URL.
            </div>
            <a href="{% url 'login' %}">Login</a>
      {% endif %}
</body>
