{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket Plus">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracketplus">
    <meta property="og:title" content="Bracket Plus">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Plus Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="{% static "lib/@fortawesome/fontawesome-free/css/all.min.css"%}" rel="stylesheet">
    <link href="{% static "lib/ionicons/css/ionicons.min.css"%}" rel="stylesheet">
    <link href="{% static "lib/select2/css/select2.min.css"%}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static "css/bracket.css"%}">
    <link rel="stylesheet" href="{% static "css/bracket.simple-white.css"%}">
  </head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-gray-200 ht-200v">

      <div class="login-wrapper wd-500 wd-xs-800 pd-25 pd-xs-50 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> Lathiya <span class="tx-info">Brothers</span> <span class="tx-normal">]</span></div>
        <div class="tx-center mg-b-40">Registration Form</div>


              <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-30">
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                        </div><!-- form-layout-footer -->

                    <br>
              </form>
                <div class="form-layout-footer ">
                  <a href="{% url 'register_detail'%}"><button class="btn btn-info">Cancel</button></a>
                </div><!-- form-layout-footer -->
      </div><!-- login-wrapper -->
    </div><!-- d-flex -->

    <script src="{% static "lib/jquery/jquery.min.js"%}"></script>
    <script src="{% static "lib/jquery-ui/ui/widgets/datepicker.js"%}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
    <script src="{% static "lib/select2/js/select2.min.js"%}"></script>
    <script>
      $(function(){
        'use strict';

        $('.select2').select2({
          minimumResultsForSearch: Infinity
        });
      });
    </script>

  </body>
</html>
