{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket Plus">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracketplus">
    <meta property="og:title" content="Bracket Plus">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Plus Responsive Bootstrap 4 Admin Template</title>

    <link rel="stylesheet" href="{%static "css/bootstrap.min.css"%}">
    <!-- Our Website CSS Styles -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!--    <link rel="stylesheet" href="{%static "css/main.css"%}">-->
    <link rel="stylesheet" href="{%static "css/responsive.css"%}">

    <!-- vendor css -->
    <link href="{%static "lib/@fortawesome/fontawesome-free/css/all.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/ionicons/css/ionicons.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/rickshaw/rickshaw.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/select2/css/select2.min.css"%}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{%static "css/bracket.css"%}">
    <link rel="stylesheet" href="{%static "css/bracket.simple-white.css"%}">
    <link href="{%static "lib/datatables.net-dt/css/jquery.dataTables.min.css"%}" rel="stylesheet">
    <link href="{%static "lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css"%}" rel="stylesheet">
  </head>
  <br><br><br><br><br><br><br><div class="modal-dialog" role="document">
    <div class="modal-content static">
      <div class="modal-header">
        <h5>Login</h5>
      </div>
        <div>
          <div class="br-section-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data"class="form-layout-footer mg-t-50">
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                        <div class="form-layout-footer ">
                          <button class="btn btn-info">Submit Form</button>
                        </div><!-- form-layout-footer -->
                    <br>
                  </form>
            <!-- col-6 -->
        </div><!-- br-section-wrapper -->
        </div>
      </div>
    </div>

  <!-- br-mainpanel -->
  <!-- ########## END: MAIN PANEL ########## -->


  <script src="{%static "lib/jquery/jquery.min.js"%}"></script>
  <script src="{%static "lib/jquery/bootstrap.min.js"%}"></script>
  <script src="{%static "lib/jquery-ui/ui/widgets/datepicker.js"%}"></script>
  <script src="{%static "lib/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{%static "lib/perfect-scrollbar/perfect-scrollbar.min.js"%}"></script>
  <script src="{%static "lib/moment/min/moment.min.js"%}"></script>
  <script src="{%static "lib/peity/jquery.peity.min.js"%}"></script>
  <script src="{%static "lib/rickshaw/vendor/d3.min.js"%}"></script>
  <script src="{%static "lib/rickshaw/vendor/d3.layout.min.js"%}"></script>
  <script src="{%static "lib/rickshaw/rickshaw.min.js"%}"></script>
  <script src="{%static "lib/jquery.flot/jquery.flot.js"%}"></script>
  <script src="{%static "lib/jquery.flot/jquery.flot.resize.js"%}"></script>
  <script src="{%static "lib/flot-spline/js/jquery.flot.spline.min.js"%}"></script>
  <script src="{%static "lib/jquery-sparkline/jquery.sparkline.min.js"%}"></script>
  <script src="{%static "lib/echarts/echarts.min.js"%}"></script>
  <script src="{%static "lib/select2/js/select2.full.min.js"%}"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyAq8o5-8Y5pudbJMJtDFzb8aHiWJufa5fg"></script>
  <script src="{%static "lib/gmaps/gmaps.min.js"%}"></script>
  <script src="{%static "lib/datatables.net/js/jquery.dataTables.min.js"%}"></script>
  <script src="{%static "lib/datatables.net-dt/js/dataTables.dataTables.min.js"%}"></script>
  <script src="{%static "lib/datatables.net-responsive/js/dataTables.responsive.min.js"%}"></script>
  <script src="{%static "lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"%}"></script>

  <script src="{%static "js/bracket.js"%}"></script>
  <script src="{%static "js/map.shiftworker.js"%}"></script>
  <script src="{%static "js/ResizeSensor.js"%}"></script>
  <script src="{%static "js/dashboard.js"%}"></script>
  <script src="{%static "js/static.js"%}"></script>
  <script src="{%static "js/inputdesign.js"%}"></script>
