a {
	color: #000;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.top-header {
	background-color: #000;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

.top-header h2 {
	letter-spacing: 2px;
}

.margin-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

.bottom-header {
	background-color: #000;
	padding: 10px 0;
	color: #fff;
}

.main-header {
	display: flex;
	justify-content: space-between;
}

.main-header .address-sec {
	text-align: right;
}

.main-header h5 {
	font-weight: 600;
	color: gold;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.main-header h6 {
	font-weight: 600;
	line-height: 18px;
	font-size: 12px;
}

.logo-sec {
	text-align: center;
}

.logo-sec img {
	margin: 0 auto;
}

.main-header .logo-sec h6 {
  color: gold;
  font-size: 11px;
  font-family: 'Viga', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0 0 4px gold;
  margin-top: 5px;
  text-transform: uppercase;
}

hr {
	margin: 0;
}

.form-sec {
	display: flex;
	align-items: center;
}

label {
	margin-right: 10px;
}

input , textarea {
	border: 0!important;
	box-shadow: inset 0 1px 1px #fff!important;
	color: #000!important;
	font-weight: 600;
	padding-bottom: 10px!important;
}

.form-section .row {
	display: flex;	
}

.form-section .col-4 {
	width: 100px;
}

.foot h6 {
	font-size: 18px;
	font-weight: 600;
	text-align: right;
}
th{
    font-size:16px;
}
td , tr , th {
	border: 2px solid #000!important;
	color:#000!important;
}